[2020-04-24 21:19] nickelozz opened #6 "Decouple credentials from key secrets generation"
**Is your feature request related to a problem? Please describe.**

As suggested here: https://pulsar.apache.org/docs/en/helm-deploy/#prepare-the-helm-release. The ```prepare_helm_release.sh``` script provided with this Helm chart can create a secret credentials resource and

However, I haven't been able to make use of such a feature for a number of reasons:

1. This secret doesn't seem to affect

[2020-04-27 07:19] sijie commented on #6
@nickelozz good suggestions. I like the proposal. Are you interested in submitting a pull request for making the changes?

[2020-04-27 21:20] nickelozz commented on #6
Apologies for the delay in replying.

I went ahead and created a [PR](https://github.com/apache/pulsar-helm-chart/pull/7) for this. Please take a look and let me know what you think.

[2020-04-28 16:33] nickelozz commented on #6
@sijie any news on when this helm chart will be published in the official stable repo?

[2020-04-29 08:24] sijie commented on #6
@nickelozz

I will take a look. I don't think helm repo is accepting any new projects. we will submit it to the helm hub.

[2020-04-29 08:27] #6 closed

[2020-05-06 16:57] ckdarby opened #9 "Grafana dashboards not entirely working"
**Describe the bug**
Today me & @nickelozz created a new Pulsar install and noticed some broken Grafana.

Broken dashboards:
Proxy Metrics: Empty
Node Metrics: Empty
Overview: Storage/Backlog -> only queries returning single series or tables are supported; Nodes section -> no data
Pulsar Logs: Empty

**To Reproduce**
Steps to reproduce the behavior:
1. Fresh helm install from this Github repo
2. E

[2020-05-06 18:23] sijie commented on #9
@ckdarby

- Overview:

The "Storage/Backlog" in Overview section is designed to display the total storage size and total backlog of the whole cluster.

- Node metrics: By default, the Helm chart installs node_exporter to export k8s node metrics. Did you see node_exporter pods running in your helm release?

- Proxy metrics: Did you enable authentication? If you are enabling authentication, the prox

[2020-05-07 14:53] ckdarby commented on #9
This repo doesn't have the node_exporter.yaml template like Streamnative does.

Yes, we enabled authentication. I do see in the Streamnative handling the metric endpoint for JWT but this repo doesn't. So, you are correct about the back push.

Good to know :)

Are there efforts for consolidation with Streamnative's charts & this official chart? I see the Streamnative charts has a lot of functionali

[2020-05-07 20:35] sijie commented on #9
@ckdarby yes. the goal is to push the changes from StreamNative to the upstream. So we will maintain the changes in the official repo. We will port the changes individually. So every change is clear in the git log history.

The list of changes will be contributed back include but not limited (since I didn't go through all the changes):

- node_exporter integration
- jwt token for scraping the prox

[2020-05-07 21:58] alexku7 commented on #9
Hello @sijie
If it possible to get proxy and broker metrics with authentication enabled by supplying client certificate instead of JWT ?

[2020-05-08 01:19] sijie commented on #9
@alexku7 It is doable. I believe Grafana supports the m-TLS but I need to double-check. The current helm chart isn't configured with m-TLS yet. but most of the TLS settings are already in-pace. So it should be done fairly simple.

[2020-05-08 09:34] alexku7 commented on #9
Hi, I meant that Proetheus (not grafana) will scrape the metrics from proxy servers with authentication enabled and it will do it by certificate authentication but not with JWT.
I played with it yesterday but it seems not working.  So as a workaround for now  i use the authenticateMetricsEndpoint=false in the proxy settings.

[2020-05-08 09:43] alexku7 commented on #9
Btw, there is some mistake in grafana image (ver 0.0.7) . On the Bookie Metrics dashboard the Ledger Disk usage chart  is not working.
I think there is a mistake in the metric name. It should be **ookie_ledger_dir_data_bookkeeper_ledgers_usage** instead of **bookie_ledger_dir__pulsar_data_bookkeeper_ledgers_usage** that is currently defined in this chart settings. Any chance to correct that mistak

[2020-05-08 19:54] sijie commented on #9
Sorry. I meant to say Prometheus. Fixed my original comment.

Ah I see. The metric name is dynamic. so it is generated from your configured ledger dir path. It seems that the original dashboard was using "/pulsar/data" as the path, so the metric name has "__pulsar_data". And you are using "data" as the path, so the metric name has `data` in the name.

We can use "bookie_ledger_*_usage" for the met

[2020-05-09 14:24] alexku7 commented on #9
Hi
I would happy but i can't make it working :( Seems , that you prometheus/grafana don't support wildcards in the metric names. I tried to experiment but got an error in prometheus Graph and no data in Grafana if i put a wildcard in the metric name.

I think to implement a workaround by relabeling setting in the Prometheus scrap config file and simply to change the metric name to the name which i

[2020-05-14 04:41] lukestephenson opened #10 "symmetric / create_namespace flags were only working if last argument"
**Describe the bug**
symmetric / create_namespace flags were only working if last argument

**To Reproduce**
Run with a namespace which does not exist:
`./scripts/pulsar/prepare_helm_release.sh --create-namespace --namespace pulsar --release pulsar`

**Expected behavior**
Args work in any position

[2020-05-14 07:35] #10 closed

[2020-05-28 03:30] ckdarby opened #15 "Pulsar Proxy gets into odd state & won't come up"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Had a nodes running Pulsar
2. Created another group of nodes
3. Terminated nodes
4. Proxy never recovered even when I tried stateful scale of 0 and the back up to 3

**Expected behavior**
Proxy recovers. Not sure why proxy is trying to get 9 threads when it says numThreads 8.

[2020-05-28 03:42] ckdarby opened #16 "Pulsar fails to properly recover & deletes all ledgers"
**Describe & Reproduce**
Steps to reproduce the behavior:
1. Create another node group
2. Attempted graceful node transfer
3. Issue happened where multiple nodes terminated and basically major amounts of Pulsar was impacted probably breaking the pod disruption budget
4. Get Pulsar back up, all storage mounts, cluster decides those are abandoned at some point while other bookies come back online an

[2020-05-28 16:15] ckdarby commented on #16
I'll move to main repo.

[2020-05-28 16:15] #16 closed

[2020-05-28 16:15] ckdarby commented on #15
I'll move to main repo.

[2020-05-28 16:15] #15 closed

[2020-06-23 09:24] cvuijst opened #23 "Missing arguments in prepare_helm_release.sh script"
#### Expected behavior

As of the official documentation of 2.6.0, the **prepare_helm_release.sh** should be able to be configured with:

- control-center-admin
- control-center-password

#### Actual behavior

The result when running the script is:

#### Steps to reproduce

- See the documentation at: [http://pulsar.apache.org/docs/en/kubernetes-helm/#step-1-install-pulsar-helm-chart](http://pulsa

[2020-06-23 19:12] sijie commented on #23
@cvuijst Thank you for reporting this. I think those settings were moved to the helm values file to be configured. We might need to update the documentation.

[2020-06-24 11:22] tabalt opened #25 "Pods of broker/proxy/recovery init failed when enabled tls"
**Describe the bug**
Pods of broker/proxy/recovery init failed when enabled tls

**To Reproduce**
Install commands：
[code]

**Unexpected behavior**

Pods of broker/proxy/recovery stucked in the Init status
[code]

Check file /pulsar/certs/broker/tls.crt failed when init container started
[code]
When I check it, tls files had generated
[code]
If I re-run the following command：
[code]
The init conta

[2020-06-24 17:18] sijie commented on #25
@tabalt Did you install cert-manager before installing the Pulsar helm chart? The helm chart uses cert-manager to issue self-signed certificates.

See: http://pulsar.apache.org/docs/en/helm-deploy/#install-cert-manager

[2020-06-24 18:31] grstein commented on #23
Hi @sijie I got the same issue, but I couldn't find any option in the helm chart to set those options.

[2020-06-25 13:44] tabalt commented on #25
@sijie  Yes, I have installed cert-manager before installing the Pulsar helm chart.
![image](https://user-images.githubusercontent.com/1662442/85725598-d7c76d00-b727-11ea-981d-b6733c30cc34.png)
The certificate files generated success when I check it, but it did’t generated when the pods of broker/proxy/recovery start.  So the following init script execute failed:
[code]
And the following check scr

[2020-06-25 14:14] tabalt commented on #25
I think move the `keytool.sh` after `until` as the following can solve the problem:
[code]
But I don't know if there's a better way to fix it.

[2020-06-25 18:46] rvashishth opened #26 "pods for broker/bookkeeper init failed - Could not find or load main class "-Xms1g error"
**Describe the bug**
Init container `pulsar-bookkeeper-verify-clusterid fail` fails to start with following stack trace

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Package a chart with this repo(no change in config)
2. broker, recovery, proxy, bookkeeper pod creation fails
3. check init container logs `kubectl logs pulsar-bookkeeper-0 -c pulsar-bookkeeper-verify-clusterid -n pulsa

[2020-06-26 01:32] sijie commented on #23
Created an issue to update the documentation. apache/pulsar#7365

[2020-06-26 01:33] #25 closed

[2020-06-26 01:37] sijie commented on #26
@rvashishth Are you running with the latest master?

[2020-06-26 01:38] sijie commented on #26
I don't see `-Xms1g` in the default vaules.ymal file. Can you share your values file?

[2020-06-26 10:16] rvashishth commented on #26
@sijie I used this [Values.yml file from](https://github.com/apache/pulsar-helm-chart/blob/6cddb81da148423b7e671b47cdd78758ee3c9b64/charts/pulsar/values.yaml) from the previous commit after PR #22 merged.  I didn't make any changes in this values file.

looks like some config issue at `bkEnv.sh`

This error looks somewhat similar to these two issues - https://github.com/apache/pulsar/issues/7243,

[2020-06-26 16:20] sijie commented on #26
@rvashishth please use the latest master to include #24

[2020-06-26 19:56] rvashishth commented on #26
@sijie I have tested with the latest master with #28, still the same error with init containers.

[2020-06-26 20:00] rvashishth commented on #26
this time zookeeper also going in CrashLoopBackOff status with the below error.

[code]

[2020-06-27 01:57] #23 closed

[2020-06-29 06:25] lukestephenson-zendesk commented on #26
Similar, I'm trying the latest master and my bookies are now failing to start with:
[code]

[2020-06-29 13:29] rvashishth commented on #26
all pods started successfully.  the previous issue was due to chart being cached.

[2020-06-29 13:29] #26 closed

[2020-06-30 02:32] ptirupac-tibco opened #29 "Bump missed out pulsar-image tags to 2.6.0"
**Describe the bug**
Few Pulsar image tags are pointing to **_2.5.0_**

**References**
1. .ci/clusters/values-pulsar-image.yaml
2. charts/pulsar/values.yaml
3. examples/values-one-node.yaml
4. examples/values-pulsar.yaml

**Expected behavior**
Pulsar Image tags should point to 2.6.0

[2020-06-30 09:21] tabalt opened #31 "Param pulsar_manager.admin.user/pulsar_manager.admin.password used in the wrong place"
**Describe the bug**
I am try to set pulsar_manager.admin.user/pulsar_manager.admin.password for login pulsar-manager ui, But it's actually used as the account/password for outside PostgreSQL instance.

**To Reproduce**
helm upgrade --install pulsar charts/pulsar --set pulsar_manager.admin.user=pulsarpulsar --set pulsar_manager.admin.password=pulsarpulsar  -n pulsar

[code]

[2020-06-30 22:58] jharris- opened #32 "2.6.0 release tag is missing on the repo"
The Chart.yaml was bumped to 2.6.0  but a release tag was not created

[2020-07-02 06:01] #29 closed

[2020-07-02 06:02] sijie commented on #32
@jharris- I am working on publishing the package and the tag.

[2020-07-02 06:04] sijie commented on #31
@tabalt I think the current pulsar-manager version doesn't support changing the login user and password very well. We are releasing pulsar-manager v0.2.0. It will support setting user and password.

[2020-07-02 06:04] sijie commented on #31
/cc @tuteng

[2020-07-02 06:26] sijie commented on #32
@jharris- I have just released the 2.6.0 tag. https://github.com/apache/pulsar-helm-chart/tree/pulsar-2.6.0

The 2.6.0 helm chart has been published to GitHub release: https://github.com/apache/pulsar-helm-chart/releases/tag/pulsar-2.6.0

I  have triggered building the pulsar website. The pulsar helm chart will be published at https://pulsar.apache.org/charts

[2020-07-02 06:26] #32 closed

[2020-07-13 11:00] mkozioro opened #39 "Bug in podAntiAffinity labels"
**Describe the bug**
I've noticed, that multiple zookeeper pods started on same kubernetes node. It looks like issue with labels and podAntiAffinity settings.
Example using zookeeper

koziorow@pl1lxl-108450:~/projects/LNS-DevEnv/repo/batch-service-infra/terraform-apache-pulsar$ kubectl describe pod pulsar-zookeeper-0
Name:         pulsar-zookeeper-0
Namespace:    default
Priority:     0
Node:

[2020-07-13 16:10] sijie commented on #39
@mkozioro Thank you for reporting this issue. Are you interested in contributing a bug fix?

[2020-07-13 17:26] mkozioro commented on #39
Sure, I can prepare PR.

[2020-07-14 18:53] rvashishth commented on #39
I was about to create an issue for standard helm lable and annotations. These will be important to migrate this chart from helm 2 to helm 3.

We should also upgrade the chart api to version 3.

[2020-07-15 04:26] sijie commented on #39
@rvashishth sounds like a good idea. +1

[2020-07-15 07:02] mkozioro commented on #39
Hi @rvashishth

I suppose you have better knowledge about migrating to new helm 3 than me. I know only about changed labels. Maybe you would like to migrate this chart and with labels, fix podAntiAffinity?

[2020-07-15 07:07] rvashishth commented on #39
Sure. I can take this.

[2020-07-16 03:54] ptirupac-tibco opened #40 "Error: unable to build kubernetes objects from release manifest - Validation Error"
**Describe the bug**
Consistently get the following error stack when running **_helm install_**

`Error: unable to build kubernetes objects from release manifest: error validating "": error validating data: ValidationError(Deployment.spec.template.spec.containers[0].ports[0]): missing required field "containerPort" in io.k8s.api.core.v1.ContainerPort`

**Assumptions**
1. k8s setup
2. HELM availabl

[2020-07-17 10:05] NiklasWagner commented on #40
Same issue. Its a wrong port variable reference in grafana-deployment.yaml and pulsar-manager-deployment.yaml. I'll do a PR on github.

[2020-07-17 20:02] rvashishth commented on #39
@mkozioro I tried the anti-affinity on AKS, but I can see pods are scheduled on different AKS nodes as expected. I have tested with 3 node-pool, 3 zookeeper pods.

[2020-07-17 22:08] mkozioro commented on #39
@rvashishth Could you try with 3 node pool and 5 zookeepers? If affinity works OK, 2 new nodes should be always created. When I was testing couple days ago, I've got 2 zookeepers running on same node.

[2020-07-18 02:41] #40 closed

[2020-07-22 10:41] sannadi99 commented on #9
Hello @sijie,   How can we publish all the Pulsar logs (create tenants or produce/consume messages extra logs) to Grafana dashboard. Right now with some config changes in log4j2.yml i am able to push the logs to my local logs folder. But how can we push them to Prometheus and then to Grafana. I have a Grafana dashboard where i am able to see my pulsar metrics but i couldn't see logs. Pulsar logs i

[2020-07-22 16:09] sijie commented on #9
@alexku7 The latest version of `streamnative/apache-pulsar-grafana-dashboard-k8s:0.0.9 ` (https://github.com/streamnative/apache-pulsar-grafana-dashboard) has fixed the ledger disk usage issue.

@sannadi99 You can use [Grafana Loki](https://grafana.com/oss/loki/) for log aggregation and then add a datasource for Loki to your Grafana dashboard. Then you can use Grafana for viewing the logs.

[2020-07-23 10:08] rvashishth commented on #39
@mkozioro which cloud are you using, I could see the behavior as you mentioned on Azure AKS.

[2020-07-27 07:23] mkozioro commented on #39
Hi @rvashishth
I'm also using AKS. 1.16.x and 1.17.x.

[2020-07-27 11:43] rvashishth commented on #39
@mkozioro if you have a fix handly, please feel free to contribute.

[2020-07-28 10:36] ftertre opened #46 "Grafana Ingress requires deprecated values"
Hi all, a small problem with the chart and grafana ingress.

**Describe the bug**
To be able to deploy the ingress rules of Grafana component, we need to set the value of a deprecated options to true.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `values.yaml` (L117), the `monitoring: false`has to be set to `true` to have Grafana Ingress deployed, but this value is part of the extra

[2020-07-29 11:27] yceoshda opened #47 "Impossible to upgrade fully from 2.5.0 to 2.6.0 using Helm"
While trying to upgrade our 2.5.0 deployment to 2.6.0 we encountered an issue.

**Describe the bug**
When using Helm to upgrade from 2.5.0 to 2.6.0, the process fails on the Init Jobs.

**To Reproduce**
Steps to reproduce the behavior:

1. Deploy a 2.5.0 version of Pulsar using Helm
2. Upgrade it to 2.6.0 still using Helm
3. Get the (nasty/cryptic) following error message

[code]

**Expected behav

[2020-07-29 12:01] rvashishth commented on #47
I have also noticed a similar error on `helm upgrade`

[code]

[2020-07-29 16:44] sijie commented on #47
@yceoshda @rvashishth

That's the limitation of Kubernetes. So we intentionally set `initialize=false` in the default values file. So any subsequent helm upgrade will remove those init jobs and not patch them. Did you happen to set `initialize` to `true` in your values file?

If you have any better solutions to this, feel free to submit a pull request to suggest a fix.

[2020-07-30 12:00] yceoshda commented on #47
@sijie
We might have missed something, but I don't see the initialize value in values.yaml or a reference to it in the templates creating the jobs. At least not in the master branch or the pulsar-2.6.0 tag. Anyway, I'll be glad to PR adding the "initialize" value :-).

[2020-07-30 16:28] sijie commented on #47
@yceoshda I see. I forget that we haven't pushed the initialize flag change to here.

You can check https://github.com/streamnative/charts/blob/master/charts/pulsar/values.yaml#L21 and https://github.com/streamnative/charts/blob/master/charts/pulsar/templates/pulsar-cluster-initialize.yaml#L20 for references.

You are welcome to contribute a pull request!

[2020-08-12 13:01] toneill818 opened #50 "Ingress hostname should not be required"
**Describe the bug**
When creating ingresses for services such as the proxy or pulsar-manager, the hostname value should optional.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an ingress without a hostname specified
[code]
2. Try installing or upgrading the chart

**Expected behavior**
An ingress should be created.

**Additional context**
I can submit a PR to make the hostname opti

[2020-08-12 14:05] toneill818 commented on #39
@rvashishth The bug is in the labelSelector for podAntiAffinity.
[code]
The app is set to pulsar.name-component. So it looks for app: pulsar-zookeeper, but the template for the labels sets the app to pulsar.name. Removing the "-component" should fix this. I can open a PR with this fix if you would like. Also with this change you will need to have as many nodes as the highest replicas for any of th

[2020-08-13 03:36] sijie commented on #39
+1

Can we make it configurable?

[2020-08-13 03:37] #46 closed

[2020-08-13 09:11] Syphixs opened #51 "template error in 2.6.0-2"
**Describe the bug**
Template error when trying to install the newest verision.

Error: template: pulsar/templates/zookeeper-podmonitor.yaml:21:8: executing "pulsar/templates/zookeeper-podmonitor.yaml" at <$.Values.zookeeper.podMonitor.enabled>: nil pointer evaluating interface {}.enabled

**To Reproduce**
Steps to reproduce the behavior:
1. download newest master release
2. unpack it
3. helm inst

[2020-08-13 12:17] Syphixs commented on #51
Okay it seems the problem comes from my value file which is kinda strange. I disabled monitoring.
Here is my file:

/Users/huttes/og/kubernetes/pulsar/pulsar-2.6.0-2/values.yaml

[2020-08-13 13:19] toneill818 commented on #51
Did you change the default values.yaml file? Looking at your screenshot it looks like you are pointing to the values.yaml file within the chart.

[2020-08-13 14:43] Syphixs commented on #51
yeah i did change them.
Do you think it's an indentation problem?

[2020-08-13 14:50] toneill818 commented on #51
You don't want to change the values.yaml file in the release. Those hold all the default values and is why you are getting the error. You will want to put your values in a different file and reference them with the `-f` flag. That will override the default values in the values.yaml.

[2020-08-13 15:51] Syphixs commented on #51
yeah tried that already sadly the same error

[2020-08-13 15:56] Syphixs commented on #51
oh you are right.
Sadly the brokers and proxys second init containers will not start even with the new version.

[2020-08-13 17:19] #39 closed

[2020-08-13 17:20] #47 closed

[2020-08-17 10:27] Syphixs commented on #51
fixed was not working cause I just had one pulsar bookie running

[2020-08-17 10:27] #51 closed

[2020-08-19 11:28] toneill818 opened #55 "Add The Ability To Set Log Level"
**Is your feature request related to a problem? Please describe.**
Setting PULSAR_LOG_ROOT_LEVEL and PULSAR_ROOT_LOGGER environment variables using configData does not change the log level since it uses the conf/log4j2.yaml .

**Describe the solution you'd like**
Ideally we would be able to only use environment variables, but that will not be possible until pulsar does not depend on the log4j2.yam

[2020-08-19 14:28] toneill818 opened #56 "Error Reading Functions Worker ConfigMap"
**Describe the bug**
When enabling functions, the broker throws the following error:

**To Reproduce**
Steps to reproduce the behavior:
1. Set Components.functions to True (true by default)
2. View broker logs
4. See error

**Expected behavior**
I think the role needs to be bound to the broker service account. It currently creates another service account named `pulsar-functions-worker`. Not sure i

[2020-08-19 18:14] rvashishth commented on #55
would it be good to make a PR in pulsar for this?

[2020-08-24 18:25] toneill818 opened #58 "Allow StorageClass to be set for pulsar-manager in the values file"
**Describe the solution you'd like**
Have the same options for volumes in pulsar manager as we do in the broker, zookeeper, bookie...

[2020-09-21 18:16] #50 closed

[2020-09-25 13:12] Imunhatep opened #65 "Helm chart dependencies do not follow best practices"
**Is your feature request related to a problem? Please describe.**
Charts do not follow common guideline: chart templates bring dependencies into the main chart instead of using [Helm dependency](https://helm.sh/docs/helm/helm_dependency/)

**Describe the solution you'd like**
Move services like prometheus, alert-manager, zookeeper  to a chart dependencies, That would simplified helm chart support

[2020-09-25 13:39] Imunhatep opened #66 "Helm charts are managing namespace"
**Describe the bug**
Helm charts are managing namespace.

helm does not position it self as a namespace manager, as namespaces in kubernetes are considered as a higher control structure that is not part of the application.

**To Reproduce**
Use helm for installation without prior syncing namespaces in chart values and installation cmd:

[code]
even with `namespaceCreate: false`

**Expected behavio

[2020-09-25 14:29] Imunhatep opened #67 "Updating existing pulsar helm setup results to an error"
**Describe the bug**
Updating existing pulsar helm setup (e.g. changing replicas count)  results to an error

**To Reproduce**
[code]

**Expected behavior**
Pulsar setup is updated

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: Linux

**Additional context**
Probably Jobs should be handled with helm hook

[2020-09-25 14:39] Imunhatep commented on #67
Same story with pulsar-init job..

[2020-09-25 14:56] Imunhatep opened #68 "Cert-manager resources api-version is hardcoded"
**Describe the bug**
Enabling `certs.internal_issuer.enabled=true` results in failed setup as CRD for cert-managers resources does not exist:
[code]
cert-manager has released a stable version with updated `apiVersion:  cert-manager.io/v1`
fyi: there are many cert-manager api versions v1alpha2,v1alpha3,v1beta1

**To Reproduce**
helm upgrade --install pulsar -n pulsar apache/pulsar --values certs.in

[2020-09-28 08:34] Shohou opened #70 "Pulsar components not starting when user provided zookeepers are used"
**Describe the bug**
Pulsar components not starting when user provided zookeepers are used

**To Reproduce**
Use the following values.yaml when installing pulsar
[code]

Execute `kubectl logs pulsar-bookie-0 -n pulsar -c pulsar-bookkeeper-verify-clusterid` and see repeating exceptions
[code]

**Expected behavior**
Pulsar starts and connects to provided zookeeper.

**Additional context**
[code]

[2020-10-05 12:38] milos-matijasevic opened #71 "Restarting pods after config map change"
**Is your feature request related to a problem? Please describe.**
Pods are not restarting when config maps are changed after changing values.yaml file, so they need to be restarted manually in order to pick up new values from config map.

**Describe the solution you'd like**
In my case pods need to restart after corresponding config map change, so one of solutions that developer from pulsar sugge

[2020-10-07 15:47] frankjkelly opened #72 "Please add support for Tiered Storage in the Helm Chart"
**Is your feature request related to a problem? Please describe.**
We'd love to see easier integration with Pulsar Tiered Storage including S3 bucket etc. and AWS credentials

**Describe the solution you'd like**
Please provide standard template / values for S3 integration (with appropriate AWS credentials / STS role)

**Describe alternatives you've considered**
From Addison in Slack https://apach

[2020-11-05 10:27] pinkavaj opened #78 "Metrics from pulsar proxy are not scraped because /metrics when authentication is enabled"
When authentication is enabled on Pulsar, proxy enables authentication even on /metrics endpoint. This might be turned off by
`authenticateMetricsEndpoint` configuratin option, but is enabled by default (due to security considerations).

**Expected behavior**

Allow setting the authenticateMetricsEndpoint option in helm chart.

[2020-11-06 02:11] devinbost opened #79 "Updating Helm chart to support GCP cert provider for TLS"
Linking from Apache/Pulsar repo: https://github.com/apache/pulsar/issues/8457
(I discovered that the issue probably should be filed here.)

[2020-11-06 17:07] jeantil commented on #66
I started an attempt at implementing helm's 3 best practices regarding namespace management as laid out by one helm's core maintainer in [this comment](https://github.com/helm/helm/issues/5465#issuecomment-473942223)

However after trying to apply the namespace-less recommendation I encoutered at  [2 issues](https://github.com/helm/helm/issues/5465#issuecomment-723182962) which made me doubt that

[2020-11-06 17:16] Imunhatep commented on #66
This issue is not about usage of namespace refs in rbac manifests or other kinds.. This issue is about managing `kind: namespace` , i.e. create, update, delete e.t.c  with HELM chart.

I reported same issue for other pulsar chart: https://github.com/streamnative/charts/issues/140

[2020-11-06 18:10] jeantil commented on #66
I am confused, in your initial issue you provided the following reproduction steps:
[code]
the chart **does not** try to create/update/delete the namespace and the chart will succeed if you configure it correclty (pass `--set namespace=pulsartest`) still without creating/updating/deleting a namespace.So you are forced to repeat the namespace information which is suboptimal.

The helm's best practi

[2020-11-10 07:05] devinbost opened #82 "Helm chart fails to install with TLS and Auth enabled - failed to sync secret cache: timed out waiting for the condition"
**Describe the bug**

After enabling TLS and Authentication, the helm chart fails to install. (The pods hang in an invalid state.)
The issue preventing the pods from starting appears to be this:

It is not clear why the secret cache is timing out.

**To Reproduce**
Here are the exact steps to reproduce this issue:

[code]
`(ctrl + c)`
[code]

`$ kubectl get pods -n pulsar`
shows them hanging in in

[2020-11-11 06:31] devinbost commented on #82
This error is misleading. The problem was actually that the TLS certificate names didn't match. Closing this.

[2020-11-11 06:31] #82 closed

[2020-11-12 12:11] Imunhatep commented on #66
Hey, thank you for follow up.

Here I see chart is managing NS and in fact will try to create/delete it: [https://github.com/apache/pulsar-helm-chart/blob/master/charts/pulsar/templates/namespace.yaml]()

While it seems convenient to be able to create namespace by configuring the chart, but the whole goal of mentioned helm issues, is to point out missing tooling in helm to properly manage NS.

At

[2020-11-12 19:10] devinbost opened #84 "TLS Authentication in Kubernetes, Pulsar 2.6.1 - Broker crash loop on startup due to 401 in WorkerService.start(..)"
Copying from the Apache/Pulsar Github issue (https://github.com/apache/pulsar/issues/8536):

**Describe the bug**
After configuring TLS Authentication in Pulsar 2.6.1 with this helm chart: https://github.com/devinbost/pulsar-helm-chart/tree/tls-auth
the broker gets stuck in a restart loop due to the `WorkerService` crashing with:

org.apache.pulsar.client.admin.PulsarAdminException$NotAuthorizedEx

[2020-11-12 21:23] devinbost commented on #84
After I swapped out the brokerClient auth to use token auth instead of TLS auth in the broker-configmap.yaml and proxy-configmap.yaml files, the cluster started just fine. So, it seems that there's a problem in the broker client TLS auth.

[2020-11-16 13:46] axel-sirota commented on #72
As a comment, for GCS it did not work just adding

`broker:
  configData:
    managedLedgerOffloadDriver: google-cloud-storage
    gcsManagedLedgerOffloadBucket: pulsar-tiered
    gcsManagedLedgerOffloadRegion: us-east1
    managedLedgerOffloadAutoTriggerSizeThresholdBytes: "262144000"`

because it was lacking the service account key file, which needs to be mounted. I added by hand in the stateful

[2020-11-17 07:40] DonghunLouisLee commented on #72
is it possible to know how you applied the new b/charts/pulsar/templates/broker-statefulset.yaml? did you use helm upgrade?

[2020-11-17 16:17] axel-sirota commented on #72
Nono, when you change the charts you cannot use the same chart, so I repackaged locally and applied those! Not as fancy haha Ideally these should go into the official charts! If I find time I will submit a PR. I think is following this path but adding AWS and Azure? @sijie ?

[2020-11-17 21:29] devinbost commented on #84
I added TLS debugging. (I forgot to tag this issue in the commit.)

[2020-11-18 00:41] devinbost commented on #84
It appears (from the debug logs) that the TLS session is established.
The exception "Client unable to authenticate with TLS certificate" is thrown in AuthenticationProviderTls from this block:

    @Override
    public String authenticate(AuthenticationDataSource authData) throws AuthenticationException {
        String commonName = null;

        if (authData.hasDataFromTls()) {
            Certi

[2020-11-18 00:52] devinbost commented on #84
Just before the exception is thrown, it appears that the broker is successfully able to establish a TLS session with Zookeeper, but then it gives this odd message:

[code]
and then loads a lot of certs, like:

[code]
Immediately after it loads those certs, it reports:
[code]
and then gets the 401 with:

`org.apache.pulsar.broker.web.AuthenticationFilter - [10.244.0.9] Failed to authenticate HTTP r

[2020-11-18 02:08] DonghunLouisLee commented on #72
Thanks, that's what i though too.

as far as i know, tiered storage support for azure will be available in pulsar 2.7.0 so i guess you could first submit a PR for gcp and aws? although aws works fine without other configurations. Cheers

[2020-11-20 14:09] dadacom379 opened #85 "Change Pulsar Manager docker image version"
When activating JWT token authentication the Pulsar manager is not connecting to broker. The manager image **v0.1.0** does not support JWT configuration.

- Docker image **v0.1.0** entrypoint: https://github.com/apache/pulsar-manager/blob/v0.1.0/docker/entrypoint.sh

In the new version **v0.2.0** the support is there:
- Docker image  entrypoint: https://github.com/apache/pulsar-manager/blob/v0.2.0

[2020-11-20 14:21] dadacom379 opened #86 "Pulsar manager mount private/public key for token generation"
When activate JWT token authentication it will be nice to be able to mount the

- {{ .Release.Name }}-token-asymmetric-key
or
- {{ .Release.Name }}-token-symmetric-key

### Evolution
It will be nice to have this feature in the pulsr-manager-deployment.yaml
![image](https://user-images.githubusercontent.com/17455054/99810502-cab17d00-2b11-11eb-9e9e-7353422283e8.png)

[2020-11-20 20:30] devinbost commented on #84
I tried changing all the certs to use CNs that match roles specified as superAdmin roles, but I can't get beyond the exception:
[code]

[2020-11-23 19:48] devinbost commented on #84
Here's a complete broker log.
[brokerlogs.txt](https://github.com/apache/pulsar-helm-chart/files/5585412/brokerlogs.txt)

[2020-12-04 03:32] #66 closed

[2020-12-05 09:07] dhinesherode91 opened #89 "Please provide support for pulsar-sql in this helm chart"
Currently, we cannot make use of pulsar-sql support when we deploy pulsar using this helm chart. It would be better to add pulsar-sql support in this official chart.

[2020-12-12 22:31] vkvm commented on #31
I notice v0.2.0 of pulsar-manager was released, and I tried it a couple of weeks ago. I don't think it supports this yet. The issue appears to be tracked here: https://github.com/apache/pulsar-manager/issues/297 . They do mention a workaround (which I haven't tried).

[2020-12-17 14:40] Syphixs opened #90 "Zookeeper Error: Could not find or load main class #"
**Describe the bug**
I tried to create a new cluster from scratch but the zookeeper won't start.
For testing I changed component sizes to:
1 x proxy
1 x broker
2 x zookeeper
3 x bookies
1 x recovery
I configured cert-manager to provide self signed certs with JKS and PKCS12.

Log:

[conf/zookeeper.conf] Applying config dataDir = /pulsar/data/zookeeper
[conf/zookeeper.conf] Adding config secureClien

[2020-12-18 12:04] Syphixs commented on #90
After some more digging i discovered that I have commented out a line from an old config like this:

    PULSAR_GC: >
      -XX:+UseG1GC
      -XX:MaxGCPauseMillis=10
      -Dcom.sun.management.jmxremote
      -Djute.maxbuffer=10485760
      -XX:+ParallelRefProcEnabled
      -XX:+UnlockExperimentalVMOptions
      -XX:+DoEscapeAnalysis
      -XX:+DisableExplicitGC
      -XX:+PerfDisableSharedMem

[2020-12-18 12:04] #90 closed

[2020-12-27 15:52] Syphixs commented on #56
![image](https://user-images.githubusercontent.com/33832024/103174599-c9d3df80-4863-11eb-9b99-ce71aaf2ce5d.png)

Sadly this error still persists even in 2.7
Still can't figure out the error, even created the clusterrole from stretch again like described in [Function Docs](https://pulsar.apache.org/docs/en/functions-runtime/)

[2021-01-05 14:55] Shohou commented on #70
this was fixed at some point and works in version 2.7.0

[2021-01-05 14:55] #70 closed

[2021-01-08 05:28] #71 closed

[2021-01-12 21:01] yabinmeng opened #91 "Helm chart doesn't work with older Pulsar versions"
**Describe the bug**
When using the official Helm chart to deploy a K8s based Pulsar cluster for version 2.6.x, the **broker** pod is stuck in " wait-bookkeeper-ready" check although the bookie pod is up and running without any issue, see Pod list below:

[code]
It looks like it is stuck in the following check of "wait-bookkeeper-ready" init container
[code]
When I manually run command "bin/bookke

[2021-01-12 21:38] nickelozz opened #92 "Helm chart repo not tracking latest commits"
**Describe the bug**
The pulsar [Helm chart repository](https://pulsar.apache.org/charts/index.yaml) is not tracking the last 2 commits from the master branch (https://github.com/apache/pulsar-helm-chart/commit/667e634af083c8326f2594c08b31f742a8f0d49a, https://github.com/apache/pulsar-helm-chart/commit/c2f672881e687d9b17ab1ad8cf5effa4dce6b4d2).

**To Reproduce**
Steps to reproduce the behaviour:
1

[2021-01-12 23:13] yabinmeng commented on #91
It turns out the issue lies in the customized values.yaml file. Close this ticket.

[2021-01-12 23:13] #91 closed

[2021-01-19 10:38] yufan022 opened #94 "Broker ClusterRole resources bug"
**Describe the bug**
Get some error log on k8s.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. deploy pulsar on k8s

**Expected behavior**
no forbidden

**Desktop (please complete the following information):**
 - OS: k8s

[2021-01-27 07:13] Xellendor opened #102 "Pulsar python function not working with TLS enabled"
**Describe the bug**
functionAuthProviderClassName:org.apache.pulsar.functions.auth.KubernetesSecretsTokenAuthProvider expects that the tlsTrustCertsFilePath: /pulsar/certs/ca/ca.crt is mapped in the functions_worker.yaml. => By adding PF_tlsTrustCertsFilePath: /pulsar/certs/ca/ca.crt in the helm for broker config map (in case TLS is turned on) issue is fixed.

**To Reproduce**
1.) Deploy with tls

[2021-01-28 11:18] rvashishth opened #103 "Add node_exporter template"
**Is your feature request related to a problem? Please describe.**
The grafana dashboards should display metrics for nodes and containers. Use prometheus `node_exporter` to export kubernetes node metrics.

**Describe the solution you'd like**
Define node exporter template as defined at [streamnative charts](https://github.com/streamnative/charts/blob/master/charts/pulsar/templates/node-exporter/no

[2021-01-30 17:28] #94 closed

[2021-02-16 18:04] mkoertgen commented on #103
Probably removed because most clusters will typically already have a similar daemonset?

As a workaround can we just deploy a standard node-exporter?
- https://github.com/prometheus-community/helm-charts/tree/main/charts/prometheus-node-exporter

[2021-02-16 18:22] mkoertgen commented on #103
Added as mentioned above with podAnnotations scrape: true

[2021-02-25 03:34] aspiration2017 opened #105 "add variable to conf/zookeeper.conf"
**Describe the bug**
By default, Zookeeper listens on the pod IP address for communication between servers. Istio and other service meshes require 0.0.0.0 to be the address to listen on.
There is a configuration parameter that can be used to change this default behavior: quorumListenOnAllIPs. This option allows Zookeeper to listen on all addresses. Set this parameter to true by using the following

[2021-02-26 17:46] sunswei opened #106 "bookkeeper-statefulset.yaml has indentation issue in volumeMounts array"
**Describe the bug**
         volumeMounts:
         {{- if .Values.bookkeeper.volumes.useSingleCommonVolume }}
-          - name: "{{ template "pulsar.fullname" . }}-{{ .Values.bookkeeper.component }}-{{ .Values.bookkeeper.volumes.common.name }}"
-            mountPath: /pulsar/data/bookkeeper
+        - name: "{{ template "pulsar.fullname" . }}-{{ .Values.bookkeeper.component }}-{{ .Values.bookk

[2021-03-01 10:19] DonHaul commented on #89
I am having the some troubles.
I found that kafkaesque has an image with [https://helm.kafkaesque.io](https://helm.kafkaesque.io) with pulsar SQL, I just might try that.

[2021-03-01 10:27] eolivelli commented on #89
@DonHaul
FYI the https://helm.kafkaesque.io chart has been mostly superseded by the new version
https://datastax.github.io/pulsar-helm-chart

[2021-03-08 07:00] aspiration2017 commented on #105
resolved by add variable to configMap with prefix: PULSAR_PREFIX_

[2021-03-08 07:00] #105 closed

[2021-03-15 02:46] sloan-dog opened #108 "Pulsar manager always uses default user/password"
#### Expected behavior
Providing non default username and password for Pulsar Admin Manager component should actually change the username and password

#### Actual behavior
Pulsar admin manager always uses the default username and password (not secure)

#### Steps to reproduce
`helm upgrade --install --set pulsar_manager.admin.password=myspecialpassword --set pulsar_manager.admin.user=myspecialuse

[2021-03-16 07:44] #68 closed

[2021-03-16 08:07] jeantil commented on #108
hi @sloan-dog , this report looks a lot like #31 to me :)

[2021-03-16 08:11] jeantil commented on #92
@nickelozz a new version has just been released which includes the requested commits (it also upgrades puslar to 2.7.1)

[2021-03-16 08:46] jeantil commented on #85
I found this issue while looking into #31 and #108
Since the tag version is in values.yml you can use `--set images.pulsar_manager.tag=v0.2.0` to upgrade the version
like so
[code]
not sure if that will solve your issue but it's worth a shot

[2021-03-21 12:43] lhotari opened #110 "Pulsar proxy fails to start with pulsar Docker image that uses non-root user"
### Problem

There's a permission issue in pulsar-proxy when using a Docker image that uses a non-root user.
The 2.8.0-SNAPSHOT Pulsar docker images use a non-root user. This change was made in https://github.com/apache/pulsar/pull/8796 .

Since the default configuration uses port 80 and now when the default user is "pulsar", it cannot bind to port 80.

This is the error log in pulsar-proxy-0 pod:

[2021-03-22 06:18] michaeljmarshall commented on #110
I proposed the following solution in https://github.com/apache/pulsar/pull/8796#issuecomment-802923466. It's copied here:

I'm happy to discuss alternatives.

[2021-03-25 19:14] sheperdsonbrown opened #111 "Replicate support for logger level found in StreamNative chart"
**Is your feature request related to a problem? Please describe.**
A feature already developed in the StreamNative chart supports changing the logger level dynamically via a deployment for individual components of the cluster. https://github.com/streamnative/charts/pull/35/commits

**Describe the solution you'd like**
I would like for this solution to be merged into this chart. I am happy to creat

[2021-04-12 03:29] dragonls opened #112 "Support multi volume in bookkeeper"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
Add option for user to choose whether using multi volume in bookeeper, especially while using `local-storage`.

**Describe alternatives you've considered**
I would like to add a PR for this, which works well in my cluster.

**Additional context**
After using multi volume, user should update

[2021-04-20 10:57] Laurianti opened #114 "Use hooks instead of initialize=true"
Why don't use pre-install or post-install hooks?
Any reason?

https://helm.sh/docs/topics/charts_hooks/
![115307963-4d467300-a16a-11eb-83c3-8138ad2aaac2](https://user-images.githubusercontent.com/20415513/115384963-e8c1fd00-a1d7-11eb-900e-39e2a6807bbf.png)
![115307997-5b948f00-a16a-11eb-8e33-e29da243fd17](https://user-images.githubusercontent.com/20415513/115384979-eb245700-a1d7-11eb-8afc-157238b3

[2021-04-29 16:19] MMeent opened #116 "annotations/`checksum/config` indentation issues"
**Describe the bug**
With  #73, annotations were introduced that would force a restart when the related configmap changes. This, however, did not always take into account the correct indentation of the annotation.

**To Reproduce**
See grafana-deployment, prometheus-deployment, pulsar-manager-deployment, toolset-statefulset and zookeeper-statefulset..

**Expected behavior**
Indentation should be c

[2021-05-15 08:14] truthtrap commented on #72
well, i got it to work. the broker.configData in values.yaml part looks like this

`    # tiered storage to gcs`
`    managedLedgerOffloadDriver: google-cloud-storage`
`    gcsManagedLedgerOffloadBucket: pulsar`
`    gcsManagedLedgerOffloadRegion: europe-west1`
`    managedLedgerOffloadAutoTriggerSizeThresholdBytes: "262144000"`
`    gcsServiceAccountSecret: "pulsar-broker-service-account"`
`    g

[2021-05-18 09:16] klaus-pd opened #120 "pulsar deploy in k8s zookeeper error"
**Describe the bug**
The Pulsar2.7.1 cluster was deployed on K8S using the officially provided Helm cluster, but the ZooKeeper cluster deployment could not complete the initialization of the cluster. Due to a problem with ZooKeeper, Pulsar-Proxy, Pulsar-Broker, Pulsar-Bookie, and Pulsar-Recovery are all processing the wait state and cannot be started

<img width="1583" alt="image" src="https://use

[2021-05-20 14:39] lhotari opened #122 "Bookie startup fails with JDK11 based docker image and default values.yaml JVM settings"
**Describe the bug**

starting bookie fails with this error when a JDK11 based docker image is used (apache/pulsar master branch)
[code]
and
[code]
and
[code]
and
[code]
and
[code]

A clear and concise description of what the bug is.

**To Reproduce**

1. build docker images from apache/pulsar master branch
2. publish to some docker repository
3. reference the images in a custom values.yaml
4. dep

[2021-05-20 21:01] gubespam commented on #84
@devinbost Did you ever find a solution for this? I am running to the same problem you described in https://github.com/apache/pulsar/issues/8536 . It seems to me to be related to how the function worker is connecting to the broker, but it doesn't have anything to do with the helm chart itself.

[2021-05-20 21:52] michaeljmarshall commented on #110
@sijie and @lhotari - what are your thoughts here? It'd be good to solve this soon so that it doesn't affect end users when we release 2.8.0 soon.

I see a couple options.

1. We could add a value for the `targetPort` on the pulsar proxy service where the `targetPort` defaults to `8080`. In this case, we could update the template for the proxy service with a block like this:
[code]
    Then, we wo

[2021-05-20 22:49] devinbost commented on #84
@gubespam I ended up putting this on the shelf to work on higher priority items, but I suspect it's a configuration issue.

[2021-05-21 18:50] michaeljmarshall commented on #110
In thinking more about this more, we have a problem for our users that upgrade to 2.8.0 from any previous version of pulsar. The persistent data written by prior bookie and zookeeper pods will be owned by the root user, not the new `pulsar` user, and it's possible that directories like the `data` directory in the bookie will not be writable for the `pulsar` user. Given that zookeepers and bookies

[2021-05-21 19:27] cdbartholomew commented on #110
@michaeljmarshall Helm has a built-in variable that can tell you whether it is doing an install or an upgrade. For example, you can do something like this:
[code]

Alternatively, you can use [Helm Hooks](https://helm.sh/docs/topics/charts_hooks/).

[2021-05-31 09:50] freewaterfreewater opened #124 "pulsar waiting to start: PodInitializing"
[root@vm192-168-2-4 ~]# kubectl version
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.1", GitCommit:"5e58841cce77d4bc13713ad2b91fa0d961e69192", GitTreeState:"clean", BuildDate:"2021-05-12T14:18:45Z", GoVersion:"go1.16.4", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.6", GitCommit:"d32e40e20d167e103faf894261614c

[2021-06-03 06:45] freewaterfreewater commented on #124
zookeeper pod commit   #  bin/bookkeeper shell metaformat
 pulsar-bookie pod is ok ,running

[2021-06-03 06:45] freewaterfreewater commented on #124
commit #bin/pulsar zookeeper-shell -server pulsar-zookeeper get /admin/clusters/pulsar

[2021-06-03 06:46] freewaterfreewater commented on #124
commit #bin/pulsar zookeeper-shell -server pulsar-zookeeper get /admin/clusters/pulsar

06:41:04.299 [main] INFO  org.apache.zookeeper.ZooKeeper - Client environment:java.io.tmpdir=/tmp
06:41:04.299 [main] INFO  org.apache.zookeeper.ZooKeeper - Client environment:java.compiler=<NA>
06:41:04.299 [main] INFO  org.apache.zookeeper.ZooKeeper - Client environment:os.name=Linux
06:41:04.299 [main] INFO

[2021-06-09 02:20] uiot-stack commented on #124
I have the some issue

[2021-06-10 05:37] jiahaoc1993 opened #125 "Append Configuration of ImagePullSecret"
**Is your feature request related to a problem? Please describe.**
Currently it is difficult to pull dockerhub images if not logged in.

**Describe the solution you'd like**
In chart's "values.yaml", append filed to set imagepullsecret.

[2021-06-15 08:46] floknip opened #128 "Typo in Root readme"
**Describe the bug**
Typo in this seciotn:
https://github.com/apache/pulsar-helm-chart/blob/master/README.md#deploy-pulsar-to-kubernetes

"Symmeric" vs symmetric

**To Reproduce**

1. Go to the readme under https://github.com/apache/pulsar-helm-chart/blob/master/README.md#deploy-pulsar-to-kubernetes

**Expected behavior**
-

**Screenshots**
-

**Desktop (please complete the following information):

[2021-06-17 09:56] Linuxstyle opened #132 "kop"
How to deploy kop in k8s?

[2021-06-19 12:30] 871921256 opened #133 "When JWT configuration is enabled, where pulsar manager New Environment will report "This environment is error. Please check it""
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'K8S+helm + pulsar 2.7.2'  prepare
./scripts/pulsar/prepare_helm_release.sh -n pulsar-dev -k pulsar-dev --symmetric
2. install  pulsar
helm upgrade --install  pulsar-dev $NAMESPACE/pulsar \
 --timeout 10m \
 --set namespace=pulsar-dev \
 --set namespaceCreate=false \

[2021-06-22 01:45] tuteng commented on #133
This problem is usually caused by the pod where pulsar-manager is located not being able to connect to your pulsar cluster, you can try logging into the pod of pulsar-manager and accessing the pulsar cluster via the `curl` command, make sure that the address `webServiceUrl` exposed by your pulsar cluster is accessible by pulsar-manager @871921256

[2021-06-22 03:06] 871921256 commented on #133
@dunglas this morning, I found that pulsar-manager-deployment.yaml in templates does not have the logic to configure use token or not, so the problem occurs in pulsar-manager-deployment.yaml in templates, which needs to be modified by self.

[2021-06-22 08:23] andrekramer1 opened #134 "Change to PULSAR_GC in values.yaml -XX args for Pulsar 2.8.0 needed"
**Describe the bug**
When using Pulsar 2.8.0 (recently released) with the helm chart which is currently at 2.7.2 bookie pods fail to initialize as the init commands java command (to run bookkeeper shell) fails because of invalid command line arguments for the GC configuration.

**To Reproduce**
Change image to 2.8.0 (we were using a private build but problem would still apply to public image) and

[2021-06-23 03:29] 871921256 commented on #86
I deploy with helm, pulsar_ Manager  can't be used normally. Can  you give me  the pulsar-manager-configmap.yaml and pulsar-manager-deployment.yaml  in the templates？THX

[2021-06-23 03:30] 871921256 commented on #86
I deploy with helm, pulsar_ Manager  can't be used normally. Can  you give me  the pulsar-manager-configmap.yaml and pulsar-manager-deployment.yaml  in the templates？THX

[2021-06-23 12:51] dadacom379 commented on #86
My section in the values for the manager.
[values-section-manager.txt](https://github.com/apache/pulsar-helm-chart/files/6701875/values-section-manager.txt)

My deployment.yaml (but I only modify what I want)
[pulsar-manager-deployment.txt](https://github.com/apache/pulsar-helm-chart/files/6701887/pulsar-manager-deployment.txt)

But I like if the fix could be like the proxy/broker deployment

- ht

[2021-06-24 04:11] #116 closed

[2021-06-24 04:13] #128 closed

[2021-06-24 06:50] 871921256 commented on #86
Thank you very much.

[2021-06-24 06:55] 871921256 commented on #86
Thank you very much. @dadacom379

[2021-06-24 20:49] eolivelli commented on #134
Are you interested in sending a patch?

[2021-06-25 08:09] andrekramer1 commented on #134
Probably should be done as part of upgrade to 2.8.0. Leaving as is for 2.7.x.

[2021-06-26 14:17] Lanayx commented on #134
I can confirm that bookie 2.8.0 won't start without this change.

[2021-06-29 06:40] iTigeroar opened #136 "upload schemas error http 500"
Expected behavior
upload schema success

Actual behavior
deploy pulsar by helm apache/pulsar
root@pulsar-toolset-0:/pulsar# ./bin/pulsar-admin topics create persistent://public/default/postgres-sink-topic
root@pulsar-toolset-0:/pulsar# ./bin/pulsar-admin schemas upload persistent://public/default/postgres-sink-topic -f ./connectors/avro-schema
[AsyncHttpClient07-1] WARN org.apache.pulsar.client.ad

[2021-06-29 06:56] iTigeroar commented on #133
replace charts/values.yaml  pulsar-manager tag v0.2.0

[2021-07-01 01:19] tech4gk commented on #91
Hi @yabinmeng
I am also bumping into the same issue. Can you share what was wrong with the customized values.yaml file ? Thanks a lot...

[2021-07-19 00:11] Kiddinglife opened #139 "Can I use K8S HPA for proxy, broker and bookie ? Thanks."

[2021-07-23 23:51] provector commented on #124
First in values.yaml make sure that
`initialize: true`
Is set to true.

Also, this might or might not help:

Add this line to proxy-configmap.yaml under "data" section,

`data:`
`  zookeeperServers: "{{ template "pulsar.zookeeper.connect" . }}{{ .Values.metadataPrefix }}"`

[2021-07-28 14:51] ckdarby commented on #139
Yes, here is the documentation on K8s HPA, [here](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/).

You'll need to pick the correct metrics for each one of those components and make sure to limit your downscaling on the bookies because you won't want to downscale faster than replication can happen to keep the cluster healthy.

For example, let's say you have 10 replica

[2021-07-29 01:42] Kiddinglife commented on #139
Thx. I am now using stream native operator as auto scaler, which looks more promising and stable.

[2021-07-29 01:42] #139 closed

[2021-07-30 17:50] frankjkelly opened #142 "Chart v2.7.2: ZooKeeper HTTP port is not exposed by service - prevents usage of prometheus"
**Describe the bug**
ZooKeeper prometheus integration not working as port is not exposed on service

**To Reproduce**
Compare
https://github.com/apache/pulsar-helm-chart/blob/master/charts/pulsar/templates/zookeeper-service.yaml#L33-L43
with
https://github.com/apache/pulsar-helm-chart/blob/master/charts/pulsar/templates/zookeeper-statefulset.yaml#L119-L128

HTTP port is missing from service

**Exp

[2021-08-02 01:57] 871921256 commented on #133
@iTigeroar Thank you. I can use it by customizing the image and resetting the password

[2021-08-03 05:23] lihaif opened #144 "Expose websocket through helm chart"
**Describe the bug**
A clear and concise description of what the bug is.

We want to use the websocket interface(https://pulsar.apache.org/docs/en/client-libraries-websocket/) supported by Pulsar. But I did not find a way to enable the websocket and expose it through ingress.

I can find another helm chart that supports to config websocket. e.g. https://github.com/kafkaesque-io/pulsar-helm-chart/b

[2021-08-07 06:54] chrisjohnson00 commented on #65
+1
This would also fix the improper use of Prometheus as a deployment.  Prometheus needs to be a stateful set due to it's pvc.

[2021-08-16 12:37] longkai opened #146 "The latest chart 2.7.2 does not include the commits"
I see the release contains the [commits](https://github.com/apache/pulsar-helm-chart/compare/pulsar-2.7.2...master#diff-cad39e6dbd3f1cdb2f7aecf8cfd26e3b9a5b31e7d79b3b8f175ccf6cfca2ad6a) which set the rbac from v1beta1 to v1.

However, if you install with helm or just download the tarball you can still see v1beta1.

This would fail on k8s 1.22 since it remove the old api.

[2021-08-17 02:23] acjohnson opened #147 "Add ability to mount secret file to statefulset pods"
**Is your feature request related to a problem? Please describe.**
We need to mount an internal ca certificate to the pods in order for HTTPS calls to various internal services to succeed

**Describe the solution you'd like**
add `extraVolumes` and `extraVolumeMounts` support to the pulsar helm chart

**Describe alternatives you've considered**
We've tried baking our own images but feel this is un

[2021-08-17 02:25] acjohnson opened #148 "Add the ability to specify a custom command to the start up process of statefulset pods"
**Is your feature request related to a problem? Please describe.**
We would like to be able to run the `update-ca-certificates` command on start-up of pods

**Describe the solution you'd like**
Pods should be able to have a custom command added to the `command:` line

**Describe alternatives you've considered**
We've tried baking our own images to work around this limitation but it would be better

[2021-08-20 02:13] rayliu419 opened #151 "Pulsar operator implmentation consideration"
Hi guys,

I am a new operator developer and I know operator has three ways to implement. As far as I know, helm operator has limited functionalities compared with other methods, so I am curious why you choose helm to implment the puslar operator.
From some sources, Helm operator only support basic install and rolling update( I guess this operator support these functionalities), but pulsar as a who

[2021-08-21 00:22] #125 closed

[2021-08-25 10:54] acesir opened #153 "Pulsar manager default environment"
Looking at this PR https://github.com/apache/pulsar-manager/pull/242 there is functionality which supports setting a default environment. I cannot seem to find any options for this in the existing helm chart. Is this functionality supported with the current release?

[2021-08-28 16:02] liangyuanpeng commented on #136
I believe thath you should create this issue to apache/pulsar.

[2021-08-28 16:11] liangyuanpeng commented on #153
I think you can use configmap of pulsar-manager to set your env.

https://github.com/apache/pulsar-helm-chart/blob/master/charts/pulsar/templates/pulsar-manager-configmap.yaml

https://github.com/apache/pulsar-helm-chart/blob/master/charts/pulsar/templates/pulsar-manager-deployment.yaml#L70

[2021-08-28 16:45] liangyuanpeng commented on #132
In my case, i need mop.

[2021-08-30 15:12] acesir commented on #153
I have tried but using any variation of setting default_environment_name and service_url does not seem to propagate correctly. The application properties have the bellow config keys but there seems no way to set them and pass through so the environment is created. No docs around illustrating how to do it either.

[code]

[2021-08-31 11:39] acesir commented on #153
We resorted to building our own image and modifying the init DB script as the current chart and docker image do not support this functionality.

[2021-08-31 11:39] #153 closed

[2021-09-01 09:05] dragonls opened #154 "Grafana data lost once pod restart."
**Is your feature request related to a problem? Please describe.**
Now, pulsar-helm-chart use empty dir instead of pv. So once grafana pod restarts, the grafana data lost.

**Describe the solution you'd like**
Add grafana data persistence support.

[2021-09-03 05:10] chlyzzo opened #156 "chage the pulsar-manager port"
**Is your feature request related to a problem? Please describe.**
in k8s, helm install pulsar, and gei services, like :
pulsar-spatio-pulsar-manager   NodePort       10.233.46.47    <none>        9527:31335/TCP                100m
and the port 31335 can random change, when uninstall pulsar-spatio then install again,

**Describe the solution you'd like**
so ,how can set port in values.yaml, can ge

[2021-09-03 13:06] dsonck92 opened #157 "Ingresses still use the extensions/v1beta1 versioned resource"
**Describe the bug**
All the ingress templates still use the deprecated (since Kubernetes 1.19) extensions/v1beta1 Ingress instead of networking.k8s.io/v1 Ingress. In addition, support for this type will be dropped in the upcoming major Kubernetes version (1.22)

**To Reproduce**
Steps to reproduce the behavior:
1. Take the latest helm chart
2. Apply the helm chart with some ingresses turned on
3.

[2021-09-03 21:04] frankjkelly opened #158 "Helm chart does not support Istio: Add support for Istio standard port naming"
**Describe the bug**

Istio expects port names to abide by a certain convention
https://istio.io/latest/docs/ops/configuration/traffic-management/protocol-selection/#explicit-protocol-selection

[code]

**To Reproduce**
Pulsar ports are named as

`bookie`
https://github.com/apache/pulsar-helm-chart/blob/master/charts/pulsar/templates/bookkeeper-service.yaml#L35-L36
`pulsar`
https://github.com/apac

[2021-09-07 07:11] chlyzzo opened #160 "topic lose: helm install --values examples/values-minikube.yaml --set initialize=true --namespace pulsar-st pulsar-minikube ./charts/pulsar"
**Is your feature request related to a problem? Please describe.**
first, i clone apache/pulsar-helm-chart, on k8s machine, i use the command:
-------
helm install --values examples/values-minikube.yaml --set initialize=true --namespace pulsar-st pulsar-minikube ./charts/pulsar
---------
install a pulsar;
then i get a pulsar, so i use the command into pulsar:
kubectl exec -it -n pulsar-st pulsar-

[2021-10-01 17:43] vitosans commented on #84
I did something like this:

tlsEnabled: "true"
brokerClientTlsEnabled: "true"
brokerClientTrustCertsFilePath: "/pulsar/certs/ca/ca.crt"
useTls: true
tlsCertificateFilePath: "/pulsar/certs/broker/tls.crt"
tlsKeyFilePath: "/pulsar/certs/broker/tls.key"
tlsTrustCertsFilePath: "/pulsar/certs/ca/ca.crt"
tlsAllowInsecureConnection: false
tlsEnableHostnameVerification: false
tlsCertRefreshCheckDurationSe

[2021-10-03 22:20] vitosans opened #163 "Function Worker - kubernetesContainerFactory"
**Describe the bug**
I managed to bring my pulsar cluster up using this helm chart and some modifications to enable mTLS authentication.

This part is working and I plan to make a PR to help get this upstream. However, when I run pulsar functions with the kubernetesContainerFactory the config state is not inherited from the broker to the workers that get created via the kubernetesContainerFactory.

[2021-10-07 11:06] Maxzouz opened #164 "2.7.3 helm chart still use 2.7.2 images"
**Describe the bug**
I've donwloaded the latest helm chart for pulsar (2.7.3). When opening the values.yaml file it still refers to 2.7.2 images

**To Reproduce**
Download the 2.7.3 chart
Open values.yaml

**Expected behavior**
Use of 2.7.3 images

**Screenshots**
![image](https://user-images.githubusercontent.com/63256223/136372475-b8bf7571-d6c4-45e4-a59a-7656f088613f.png)

[2021-10-25 19:35] pancudaniel7 opened #167 "Pulsar minikube installation pods fail"
**Describe the bug**
I've follow minikube pulsar installation for version v1.16.1 and after installing the the chart with minikube values I got pods freeze state.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'https://pulsar.apache.org/docs/en/2.7.1/kubernetes-helm/'
2. Follow exactly all the steps until the **helm install** step
3. Execute helm install and run kubectl get pods you

[2021-11-05 12:17] nlandeker commented on #132
Hi, is this something that will be done or should we search for other solutions?

Thanks

[2021-11-05 13:44] eolivelli commented on #132
Hello, I am working on an Open Source Helm Chart that supports KOP, but it is not based on the official Apache Pulsar docker images and Helm Charts. Basically because the Official Apache Pulsar docker images do not contain third party components like the KOP protocol handler.
If you are interested you can reach out to me via Slack

By the way it is pretty simple to achieve this goal:
- create a Do

[2021-11-05 13:53] nlandeker commented on #132
Hello, @eolivelli I am definitely interested but unsure on how to reach you on Slack :)

[2021-11-05 13:55] eolivelli commented on #132
Subscribe to Slack here
https://pulsar.apache.org/en/contact/

My name is "Enrico Olivelli" :-)

[2021-11-05 14:08] codelipenghui commented on #132
Here is a chart which contains kop and mop https://github.com/streamnative/charts/blob/master/charts/pulsar/values.yaml#L94

[2021-11-08 22:16] frankjkelly opened #173 "Helm Chart does not allow us deploy more another Pulsar instance with the same name in a different namespaces"
**Describe the bug**
When we try to deploy two Pulsar instances in different K8S namespaces in the same K8S Cluster we get

[code]

Although there is support here via `rbac.limit_to_namespace`
https://github.com/apache/pulsar-helm-chart/blob/master/charts/pulsar/templates/broker-cluster-role-binding.yaml#L23-L27

There is still a clusterrole defined here
https://github.com/apache/pulsar-helm-chart

[2021-11-12 15:56] #173 closed

[2021-11-15 18:06] javiramos1 commented on #164
Hi, the chart is still using 2.7.2. I did change the tags to 2.8.1 but it did not work, the pods were stuck in init state.

[2021-11-22 03:47] haorenfsa commented on #124
In the `pulsar-init` Job, the init script is:
[code]

The `|| true` at the end makes the Job not fail even when error occurs in initializing metadata.

Usually it's ok, for there's a init container checking zookeeper status, but if we have a bad day when zookeeper goes done just after init container run, and before main container start, the cluster metadata will never be initialized. The pulsar co

[2021-11-22 05:07] haorenfsa opened #175 "Create may block if the initialize cluster job fails"
**Describe the bug**
In the pulsar-init Job, the init script is:

[code]

The `|| true` at the end makes the Job not fail even when error occurs in initializing metadata.

Usually it's ok, for there's a init container checking zookeeper status, but if we have a bad day when zookeeper goes down just after init container succeeded, and before main container start, the cluster metadata will never be

[2021-11-22 05:18] haorenfsa commented on #175
I'm wondering why did we have this `|| true;` in the first place. Is it a trick for something or just a typo?

[2021-11-23 08:05] wangshu3000 commented on #157
I'm working on this. 🥇

[2021-11-23 08:10] wangshu3000 opened #177 "The indentation of dashboard-ingress.yaml is wrong, when deploying shows component not found."
**Describe the bug**
When deploying the latest version of the chart, the console shows below error message.
Error: unable to build kubernetes objects from release manifest: error validating "": error validating data: ValidationError(Ingress.metadata): unknown field "component" in io.k8s.apimachinery.pkg.apis.meta.v1.ObjectMeta
helm.go:88: [debug] error validating "": error validating data: Validat

[2021-11-26 07:31] MarvinCai commented on #154
I think you mean loki and prometheus, I'll work on adding option to enable persistent storage for loki and prometheus.

[2021-11-30 03:16] wangshu3000 commented on #177
WIP

[2021-12-09 09:41] SapnaGirdhani1 opened #184 "Helm Chart installs Pulsar Manager V1.0"
I used Helm Chart to install Pulsar on my Kubernetes Cluster. It installs Pulsar 2.7.2 version (apachepulsar/pulsar-all:2.7.2) along with Pulsar Manager V1 ( apachepulsar/pulsar-manager:v0.1.0) by default. I want to have Pulsar manager V2. Not finding any way to configure Pulsar Manager V2.

**To Reproduce**
1. follow the link : https://pulsar.apache.org/docs/en/kubernetes-helm/  to configure Puls

[2021-12-09 18:14] frankjkelly opened #185 "Github Actions should enforce an increase in helm chart semantic version on each PR"
**Is your feature request related to a problem? Please describe.**
The problem is each helm chart version is deployed once per version. See https://github.com/apache/pulsar-helm-chart/releases

So if someone makes an edit or improvement to the chart and we do not change the version then that change will not be seen until the next change where someone bumps the version and a new deployment is creat

[2021-12-23 14:17] samzph opened #188 "Unrecognized VM option 'PrintGCTimeStamps' - Unsupported Java 11 GC Flags causing init container fail"
Need to update the PULSAR_GC options in the default values to remove flags or add `-XX:+IgnoreUnrecognizedVMOptions`, otherwise init containers fail.

See here: https://confluence.atlassian.com/confkb/unrecognized-jvm-gc-options-when-using-java-11-1002472841.html

[2021-12-29 09:39] qq516249940 commented on #23
in china how to use  prepare_helm_release.sh ？？？
[code]

[2022-01-03 14:26] lhotari commented on #188
@samuelzimmermanphillips Thanks for reporting. This will be fixed as part of #190.

[2022-01-03 19:57] #177 closed

[2022-01-04 06:53] #157 closed

[2022-01-04 10:51] mkoertgen commented on #124
Kind of similar problem for me. Reinstalling a pulsar cluster chart=2.7.7 with initialize=true results in brokers / proxies getting stuck waiting for zookeeper.

I could track it down to incorrect arguments of **pulsar-init-job**.
Note that the init-job exited correctly

![image](https://user-images.githubusercontent.com/7235760/148048119-44b3e3e0-96b4-47e4-a589-d4e98e846e82.png)

Here are the log

[2022-01-04 11:09] mkoertgen commented on #124
To me it looks like the problem has to do with helm-templates expanding empty lines without breaks (`\`) causing the shell call to fail.
Here is what the helm renders

[code]

I exed into the shell of one of the running bookies to reproduce the problem and yes, with the empty line it gives the error message noted above.

Manually calling the cluster initialization with the empty line removed helpe

[2022-01-04 11:14] mkoertgen commented on #124
Strange, because the helm-template looks fine to me. I have no idea where this extra line is coming from
- https://github.com/apache/pulsar-helm-chart/blob/master/charts/pulsar/templates/pulsar-cluster-initialize.yaml#L92

[2022-01-04 11:18] mkoertgen commented on #124
Probably, a suggestion for the future: Would it not be possible to default the `initialize=true`-value from [Helm's builtin-objects](https://helm.sh/docs/chart_template_guide/builtin_objects/) like `{{- if .Release.IsInstall }}` ?

[2022-01-04 18:02] lhotari commented on #134
This is handled as part of #190

[2022-01-04 18:03] lhotari commented on #124
This issue seems to be resolved by #166

[2022-01-04 18:08] lhotari commented on #114
Another solution proposed by @mkoertgen  https://github.com/apache/pulsar-helm-chart/issues/124#issuecomment-1004724440

[2022-01-05 07:45] lhotari commented on #114
There's already a PR #138 for resolving this.

[2022-01-05 14:08] #114 closed

[2022-01-05 14:10] #175 closed

[2022-01-05 16:26] #148 closed

[2022-01-05 16:52] michaeljmarshall commented on #185
I think a release for every change would lead to too many releases. However, there is an underlying problem that this issue points to: contributors to the helm chart feel that it can take too long to get a simple fix included in a release. As you mentioned, we use to only release the helm chart when Apache Pulsar was released. I'm not sure why we had the initial process, but I don't think we _need

[2022-01-05 17:00] michaeljmarshall commented on #156
I provided an answer to this issue here: https://github.com/apache/pulsar/issues/11909#issuecomment-917219256. It is not possible to configure the node port to 8100, as node ports must be in the range from 30000 to 32767.

@chlyzzo - are you still looking to configure the node port? If so, you could do this by modifying the service templates. Would you like to contribute this feature?

[2022-01-05 17:04] michaeljmarshall commented on #184
@SapnaGirdhani1 - you can configure the version of the pulsar manager by adding the following to your helm values file:

[code]

Here are the default values for the current chart:

https://github.com/apache/pulsar-helm-chart/blob/cee3b5c5e6dd9edd1e7c584a941f076e5edf5a53/charts/pulsar/values.yaml#L190-L194

Please re-open your issue if my solution does not work. Thanks!

[2022-01-05 17:04] #184 closed

[2022-01-05 17:07] michaeljmarshall commented on #167
@pancudaniel7 - can you provide a bit more context? When you describe the pods that are in a "freeze state", do they have any kubernetes events? Does it work eventually? Note that the docker images are large, so it can take a while to download them to your minikube docker daemon.

[2022-01-07 22:41] csthomas1 opened #197 "-Dlog4j2.formatMsgNoLookups=true not set for pulsar manager"
**Describe the bug**
The Pulsar Manager java process is being launched without the inclusion of the "-Dlog4j2.formatMsgNoLookups=true" switch, despite the fact that it includes an older version of log4j2 (2.10.0 to be precise).

**To Reproduce**
Deploy the Pulsar manager using the latest version of the helm chart.  Check the arguments provided to the java process within the pulsar-manager pod.

**

[2022-01-10 08:59] mkoertgen commented on #124
@lhotari Good point. I will check today with upgrading to 2.7.8.

[2022-01-12 08:42] #197 closed

[2022-01-23 05:08] #112 closed

[2022-01-26 06:53] lhotari commented on #85
The docker image version was upgraded as part of #206.

[2022-01-26 06:53] #85 closed

[2022-01-26 08:45] lhotari commented on #31
Please review PR #212, it should fix this issue.

[2022-01-26 08:45] lhotari commented on #108
Please review PR #212, it should fix this issue.

[2022-02-01 14:50] shaileshjha061 opened #222 "Zookeeper Pod Restarts frequently"
**Zookeeper Pod Restarts frequently**
I tried Deploying Pulsar in GKE clusters using the helm chart. Pulsar cluster is being deployed properly but the zookeeper pods keep on restarting one by one. And also there is no error in logs that can be debugged.
**Pulsar Chart Version**:  pulsar-2.7.10

**To Reproduce the issue**
Steps to reproduce the behavior:
1. Create GKE Cluster
2. Create Namespace
3.

[2022-02-01 19:39] nealf commented on #78
For temporary reference, this can can be done by adding `PULSAR_PREFIX_authenticateMetricsEndpoint: "false"` to the `proxy.configData` value. To keep the default config, including what's in the `values.yaml` file (as of helm chart version 2.7.10), I ended up with:

[code]

[2022-02-01 20:08] lhotari commented on #222
There's a promising fix in https://github.com/apache/pulsar/pull/14088 . I'm currently running an experiment in PR #190 with https://github.com/apache/pulsar-helm-chart/pull/190/commits/98dd0297f8782f2aa39dc1447ef6d0c4efbd6a5e .

[2022-02-02 13:13] lhotari commented on #160
I think it's intentional that `examples/values-minikube.yaml` doesn't have persistence enabled. `--set volumes.persistence=true` should resolve this issue. You also need support for PVCs. It might require installing Rancher Local Path Provisioner: https://github.com/rancher/local-path-provisioner#installation to support that in test environments.
Nowadays a good alternative for minikube and Docker

[2022-02-02 13:13] #160 closed

[2022-02-07 06:54] lhotari commented on #222
Is this issue fixed with chart version 2.7.11 ?

[2022-02-07 11:05] shaileshjha061 commented on #222
Yes. The Issue is Resolved. Thanks, @lhotari

[2022-02-07 11:05] #222 closed

[2022-02-10 22:12] mkoertgen opened #226 "PodMonitor: dynamic labelMap-action breaking since prom-operator 0.54"
**Describe the bug**
Dynamic labelmap-action in the current podMonitor-templates causes prom-operator skipping the PodMonitor altogether.

**To Reproduce**
Steps to reproduce the behavior:
1. Install [kube-prometheus-stack>=32.2.0](https://github.com/prometheus-community/helm-charts/releases/tag/kube-prometheus-stack-32.2.0 or [prometheus-operator>=0.54](https://github.com/prometheus-operator/prom

[2022-02-15 10:43] czhfe opened #228 "broker's restartPodsOnConfigMapChange set to true, helm upgrade after broker exception"
broker's restartPodsOnConfigMapChange set to true, helm upgrade after broker exception

![image](https://user-images.githubusercontent.com/19341806/154045431-0be09518-e885-4beb-a30e-3b7f43451f20.png)

![image](https://user-images.githubusercontent.com/19341806/154045384-a6e0771f-2789-4df6-a144-ce9d58e7b680.png)

[2022-02-16 21:39] bsheltonihs opened #229 "Update pulsar-manager-service template to allow for admins to open multiple ports"
**Is your feature request related to a problem? Please describe.**
I am using argo-cd to deploy on openshift using these helm charts. The issue I have is the backend admin service port is `7750` which the `pulsar-manager-service.yaml` template doesn't expose. I am trying to follow the instructions here: [set-administrator-account-and-password](https://pulsar.apache.org/docs/en/administration-pulsa

[2022-02-16 22:12] bsheltonihs opened #230 "issues creating clusterrole for functions"
**Is your feature request related to a problem? Please describe.**
I am using argo-cd to deploy on openshift using these helm charts. The issue I have is when I enable functions the `broker-rbac` tries to create `ClusterRole` and `ClusterRoleBinding`. The error I get is `Cluster level ClusterRoleBinding "pulsar-functions-worker" can not be managed when in namespaced mode` . This is because at open

[2022-02-17 07:46] lhotari commented on #164
The helm chart version is independent from Pulsar's version. There's a separate PR #200 that would make image tag match the appVersion by default.

[2022-02-17 07:46] #164 closed

[2022-02-19 12:03] mkoertgen commented on #108
Hi @lhotari ,

As a workaround, I managed to create a simple k8s-job that performed the steps described in
- https://pulsar.apache.org/docs/en/administration-pulsar-manager/#set-administrator-account-and-password

Here is the gist of it:
- https://gist.github.com/mkoertgen/a3c45689e78b88f71d2c373a243c95d7

Please have a look. It should be straight-forward to add it to the helm chart as a [post-ins

[2022-03-01 15:43] samzph opened #240 "Allow Custom Init Containers"
** The Problem**
Currently, the automatic creation of topics must be done through a secondary pipeline or something that waits for the system to be ready. It also does not cover for if the data is lost due to command line deletion. For example, if I delete pulsar resources I will lose my tenants/namespaces/etc.

**My Proposed Solution**
If I had an initcontainer, like on pulsar-toolset or the brok

[2022-03-08 23:38] dwn-cadams opened #241 "Field is immutable error when upgrading helm chart after changing zk replica count"
**Describe the bug**
Recently we increased zookeeper replicas from 1 to 3 when moving a cluster to prod. When we did this, we discovered the init jobs (https://github.com/apache/pulsar-helm-chart/blob/master/charts%2Fpulsar%2Ftemplates%2Fbookkeeper-cluster-initialize.yaml and https://github.com/apache/pulsar-helm-chart/blob/master/charts%2Fpulsar%2Ftemplates%2Fpulsar-cluster-initialize.yaml) canno

[2022-03-17 13:45] haorenfsa opened #245 "Supports image pull secrets configuration"
Hey guys, it's your friends from the [milvus](https://github.com/milvus-io/milvus) community. We're using pulsar as our backbone msg stream.

**Is your feature request related to a problem? Please describe.**
We just encountered an issue milvus-io/milvus-helm#314  of configuring image with pull secret for their private image repo.

**Describe the solution you'd like**
Supports a `image.pullSecrets

[2022-03-17 13:51] #245 closed

[2022-03-17 20:27] briedel opened #246 "Helm Chart requires ClusterRoles for Pulsar Functions, Promotheus, etc."
ClusterRoles for Pulsar Functions, Promotheus, etc. This is related to issue #173

`rbac.limit_to_namespace: true`

only limits required pulsar pieces (broker, bookie, etc.) to the namespace, but not Pulsar function workers, Promotheus.

Error is:

`Error: INSTALLATION FAILED: rendered manifests contain a resource that already exists. Unable to continue with install: could not get information abou

[2022-03-18 08:58] tinto82 opened #247 "Add the possibility to set NodeAffinity"
**Is your feature request related to a problem? Please describe.**
We work in GKE and in our cluster have several nodepools. When  we need to change the nodepool where pulsar is deployed, we have to cordon nodes to make pulsar deployed where we want.

**Describe the solution you'd like**
Add NodeAffinity configuration in templates and in values.yaml to be able to specify nodes where pulsar's compo

[2022-03-18 15:36] frankjkelly opened #248 "Anti-affinity rules are not namespace aware - in a multi-tenant environment could get multiple brokers/bookies on same node"
**Is your feature request related to a problem? Please describe.**
In a multi-K8S-namespace environment with anti-affinity rules turned on we cam still end up with multiple brokers or bookies on the same node.

**Describe the solution you'd like**
Stateful set definitions of anti-affinity rules should allow namespaces to be specified
See for example
https://github.com/apache/pulsar-helm-chart/blob

[2022-03-24 17:35] filipecaixeta opened #250 "make proxy httpNumThreads configurable"
**Is your feature request related to a problem? Please describe.**
`httpNumThreads` is hardcoded to 8 in `charts/pulsar/templates/proxy-configmap.yaml`
When trying to override in values.yaml by using `proxy.configData.httpNumThreads` we get an error because the keys get duplicated
[code]

**Describe the solution you'd like**
Removing the key from `charts/pulsar/templates/proxy-configmap.yaml` and

[2022-03-25 12:03] filipecaixeta commented on #250
@lhotari can you review this for me?

[2022-03-25 15:16] djayan07 opened #252 "installation problem with kubernetes 1.22.5 and cert-manager 1.5"
**installation problem with kubernetes 1.22.5 and cert-manager 1.5**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. create a cluster with kubernetes version highter then 1.21
2. install cert manager
3. enabled tls section in values
[code]
5. install pulsar

**to fix**

Modify template `tls-certs-internal.yaml`

change all sections organization
[code]
to
[code]

change all keySize, k

[2022-03-25 20:00] samzph opened #253 "Proxy DNS Does not function properly when using an external endpoint"
**Describe the bug**
When attempting to connect via the proxy using an ingress with a custom URL, an error is thrown: `Resolve error: asio.netdb:1 : Host not found (authoritative)`, presumably due to the DNS being switched from the custom URL to an internal Kubernetes URL.

Failure presumably at the changeover:
`http://dev-pulsar-proxy.<redacted>.com:80` -> `pulsar://pulsar-broker-2.pulsar-broker.

[2022-04-02 05:02] adminnz opened #254 "Pulsar Manager Username/Password does not work with examples/values-minikube.yaml"
**Describe the bug**
When installing the Helm chart with examples/values-minikube.yaml with a modification make it install pulsar_manager.
The puslar manager pod is started along with the service and I can access the login page, but the username "pulsar" and password "pulsar" that are set as environment variables on the pod do not work to login.
Also checking the pulsar-mini-pulsar-manager-secret

[2022-04-02 08:14] adminnz commented on #254
I've manged to login by creating a super user using the[ following steps.](https://github.com/apache/pulsar-manager/blob/994ad84ee3b1a73f978e1e31950c961ce4a69cf6/README.md#access-pulsar-manager)
Is there a reason why the helm template username/password does not work?

[2022-04-11 10:00] jaggerwang opened #256 "Cannot use the default admin username and password to login manager."
**Describe the bug**
When tried to login manager, it always shows "The username or password is incorrect".
![image](https://user-images.githubusercontent.com/1255011/162713833-85b0882e-28ac-4b65-b1e4-aa86d9629985.png)

The env command shows the default admin username and password is just pulsar/pulsar.
![image](https://user-images.githubusercontent.com/1255011/162714921-5964f3f7-ee11-4867-b6fc-c64

[2022-04-12 10:46] LoveEachDay opened #257 "podMonitor name conflicts for multiple releases in the same namespace"
**Describe the bug**
Install two releases of pulsar cluster with podMonitor enabled in the same namespace will fail.

**To Reproduce**
Steps to reproduce the behavior:
1. install release `test-1` in default namespace
`helm install test-1 apache/pulsar --set broker.podMonitor.enabled=true`
this will success
2. install release `test-2` in default namespace
`helm install test-2 apache/pulsar --set br

[2022-04-12 10:46] LoveEachDay commented on #257
/assign @LoveEachDay

[2022-04-26 11:10] youg9203 commented on #78
I need to understand if this parameter is working? Or did you just provide the suggestion for the solution?

I'm also facing this issue now, love to hear any other way to fix the issue.

[2022-04-26 16:52] michaeljmarshall commented on #78
Yes, this is the correct solution. Whenever a configuration is not present in the `conf/proxy.conf` (or any of the `.conf` files), you must add the `PULSAR_PREFIX_` to the start of the configuration value. By doing so, the configuration script will map the suffix into the `.conf` file.

https://github.com/apache/pulsar/blob/0c694cfdc9b11f915f1da86260ad3655c2e99a35/docker/pulsar/scripts/apply-confi

[2022-04-28 19:54] frankjkelly opened #261 "Add Support for HorizontalPodAutoscale in Broker and Proxy"
**Is your feature request related to a problem? Please describe.**
We would like to reduce the cost of our pulsar usage by being able to autoscale the Pulsar Broker and the Pulsar Proxy
with the Pulsar Load Balancer enabled

**Describe the solution you'd like**
Add support for K8S HPA

**Describe alternatives you've considered**
Vertical Pod Autoscaling
Keda Pod Autoscaling

[2022-05-01 04:40] smazurov commented on #252
please use search, this has been mentioned and a fix has been proposed in #233

[2022-05-03 00:35] doehyunbaek opened #263 "node_exporter and alert_manager values do nothing."
**Is your feature request related to a problem? Please describe.**
Setting node_exporter and alert_manager to true here does not seem to do anything.

https://github.com/apache/pulsar-helm-chart/blob/cee3fcfe569e2a8cc87fb5f8046b29f47f1d4e39/charts/pulsar/values.yaml#L139-L141

Maybe it is due to copy of values.yaml file from streamnative charts(https://github.com/streamnative/charts/blob/0ba284e3d

[2022-05-04 10:14] doehyunbaek commented on #263
I worked on adaptation of templates for node_exporter and alert_manager. For node_exporter, it was really easy, and I could just copy template file and relevant values.yaml lines. But for alert_manager it was quite contrived and it seems there would be really few benefit as their setup would be quite different between people and good default might be hard to find.

Thus I suggest copying of templa

[2022-05-06 14:04] #261 closed, assigned to nobody

[2022-05-13 09:08] youg9203 opened #265 "Release tag pulsar-2.9.3 is not matching the images version in values.yaml"
Hello,

Is that intentional or a mistake, I believe it supposes to match the pulsar version, if not then I would suggest adding the build number in the version, the original version must be synced with the apache-pulsar version.

Please correct me if I'm wrong, or did I miss something here?

Thanks

[2022-05-17 09:29] doehyunbaek commented on #263
https://github.com/doehyunbaek/pulsar-helm-chart/tree/nodeexporter/alertmanager
I pushed example branch that can be used to deploy node_exporter and alert_manager in case anyone needs it.
Closing as this issue does not seems to progress anymore.

[2022-05-17 09:29] #263 closed

[2022-05-24 13:46] nvmav opened #267 "helm chart for pulsar version 2.10.0"

[2022-06-08 19:17] rdhabalia opened #268 "Support mechanism to provide external zookeeper-server list to build global/configuration zookeeper"
### Motivation
Right now, [chart dynamically](https://github.com/apache/pulsar-helm-chart/blob/master/charts/pulsar/templates/zookeeper-statefulset.yaml#L140) creates zk cluster with zk pods initialized in the same namespace. However, for global/configuration zookeeper, user requires to build zk clusters with pods deployed in different namespaces. Therefore, user needs a mechanism to pass an exter

[2022-06-13 11:02] Syphixs commented on #267
bump , new version would be gladly appreciated!
Seems though its not a simple image version upgrade alone

[2022-06-17 05:53] MarvinCai opened #272 "Allow broker/proxy to define extra envs."
**Is your feature request related to a problem? Please describe.**
Allow broker/proxy to define extra envs so user can add env like Pod IP or Pod Name.

**Describe the solution you'd like**
Allow broker/proxy to define extra envs.

[2022-06-18 01:43] ChenJhua commented on #132
i need kop too

[2022-06-20 14:59] #272 closed

[2022-06-21 22:59] #268 closed

[2022-06-26 04:57] #250 closed

[2022-07-01 03:22] mohitreddy1996 opened #275 "Allowing configuring a global `nodeselector`"
**Is your feature request related to a problem? Please describe.**
We currently run a multi-arch (we want to migrate to arm64, but few of the services are not compatible yet) setup. Pulsar does not seem to be compatible with arm64 arch and requires scheduling them on amd64 machines. To do so, we need to explicitly this a configuration in each component. Configure a single global configuration woul

[2022-07-20 11:26] Anmol057 commented on #267
Hi, When can we expect the 2.10.0 version to be released?

[2022-07-20 13:53] MBcom opened #278 "Make included Prometheus server configurable"
**The prometheus configuration is currently hardcoded. Extending it is not possible - e.g. connecting it with an external alert manager.**
We want to connect the included Prometheus server to an external Alert Manager which is currently not possible.

**Describe the solution you'd like**
Allow to modify the prometheus configuration entirely in `values.yaml`

**Describe alternatives you've consider

[2022-07-20 13:54] MBcom opened #279 "Make included prometheus server configurable"
**The prometheus configuration is currently hardcoded. Extending it is not possible - e.g. connecting it with an external alert manager.**
We want to connect the included Prometheus server to an external Alert Manager which is currently not possible.

**Describe the solution you'd like**
Allow to modify the prometheus configuration entirely in `values.yaml`

**Describe alternatives you've consider

[2022-07-20 14:11] MBcom opened #281 "Allow setting nodePort Option for proxy service"
**Is your feature request related to a problem? Please describe.**
We can not set a specific nodePort for the proxy service. We want to persist a specific nodePort to make the Chart redeployable in our infrastructure.

**Describe the solution you'd like**
Allow to set a specific NodePort in `values.yaml`.

**Describe alternatives you've considered**
-

**Additional context**
-

[2022-07-28 09:29] MonicaMagoniCom opened #283 "podManagementPolicy in broker-statefulset"
Why in the template broker-statefulset.yaml the value for `podManagementPolicy` if fixed to `Parallel`? Couldn't it be taken from values.yaml?

[2022-08-02 20:24] hpvd commented on #267
latest pulsar is now 2.10.1 :-)
https://github.com/apache/pulsar/releases/tag/v2.10.1

btw. just looked to the included Prometheus version:
its
v2.17.2 from 2020-04-20  https://github.com/prometheus/prometheus/releases/tag/v2.17.2
while latest is
2.37.0 from 2022-07-14  https://github.com/prometheus/prometheus/releases/tag/v2.37.0
(which among other things fixed several vulnerabilities during last

[2022-08-02 20:40] hpvd commented on #267
if new version of helm chart is released, one should give it a quick check to get the whole picture:
https://artifacthub.io/packages/helm/apache/pulsar?modal=security-report
today it looks pretty mediocre...

[2022-08-11 12:53] danny-krueger opened #285 "Automatic certificate renewal does not work"
**Describe the bug**
The reissued certificates from the Cert Manager will not be used by Pulsar until the pods are rebooted.

**To Reproduce**
Steps to reproduce the behavior:
1. Activate Cert Manager with the internal issuer.
2. Wait until the certificate has expired.
3. The certificates have been updated, but the Java Services have not checked this and SSL errors occur in the Zookeeper.
`ERROR o

[2022-09-12 21:03] bharatbhushan1705 opened #287 "Error while executing prepare_helm_release.sh: tar: Error opening archive: Unrecognized archive format"
**Describe the bug**
Error while executing prepare_helm_release.sh: tar: Error opening archive: Unrecognized archive format

**To Reproduce**
Steps to reproduce the behavior:
1. execute the below step:
./scripts/pulsar/prepare_helm_release.sh \
    -n pulsar \
    -k pulsar-mini \
    -c

**Expected behavior**
Getting error when downloading install.sh with curl:
pulsar-helm-chart % ./scripts/pulsa

[2022-09-13 02:21] michaeljmarshall commented on #287
Thanks for your issue @bharatbhushan1705.

% Total % Received % Xferd Average Speed Time Time Time Current
Dload Upload Total Spent Left Speed
100 3987 100 3987 0 0 16557 0 --:--:-- --:--:-- --:--:-- 16965
% Total % Received % Xferd Average Speed Time Time Time Current
Dload Upload Total Spent Left Speed
100 9 100 9 0 0 34 0 --:--:-- --:--:-- --:--:-- 36
tar: Error opening archive: Unrecognized ar

[2022-09-13 07:19] bharatbhushan1705 commented on #287
Hello @michaeljmarshall ,

As mentioned earlier I am using macOS Monterey 12.5.2(21G83).
MacBook M1 Pro.

[2022-09-14 21:38] bharatbhushan1705 commented on #287
Hello Team,

Is there someone who can help me to proceed further?

[2022-09-15 09:00] arnarg opened #288 "superUserRoles order is unpredictable"
**Describe the bug**
When specifying multiple roles in `.Values.auth.superUsers` the values are converted to a comma-separated list by piping the dict through `values` and `join` in helm templating, `values` however doesn't guarantee that the order of elements will be the same every time. Therefor it recommends also passing it through `sortAlpha` to sort the list alphabetically.

This is a problem

[2022-09-18 03:31] michaeljmarshall commented on #288
This seems like the right solution. @arnarg - are you interested in contributing this solution?

[2022-09-19 08:41] astylos opened #289 "Support for kubernetes 1.25"
I am unable to upgrade Pulsar version after upgrading kubernetes to 1.25.0

[code]

[code]

I'm no kubernetes/helm expert, so may have done this incorrectly, but I pulled the chart from git, edited all `policy/v1beta1` to `policy/v1` and tried installing from local chart, but it still gave same errors.

[2022-09-21 10:21] bharatbhushan1705 commented on #287
@michaeljmarshall Could you please help me here with some quick steps to solve locally at lease.

[2022-09-22 11:33] tisonkun opened #290 "Release Pulsar Helm Chart on dist.apache.org"
## Motivation

Currently, we host Pulsar Helm Chart's metadata (`index.yaml`) on https://pulsar.apache.org/charts/index.yaml. Users encountered an issue today (https://github.com/apache/pulsar/issues/17799) due to we removed the file during "clean up" content before building the official website fully.

Depending on another repo is brittle. It's hard to ensure further development happening in the

[2022-09-23 02:00] tisonkun commented on #290
cc @lhotari @mattisonchao @yaalsn @ericsyh

[2022-09-23 02:53] michaeljmarshall commented on #290
Thanks for your proposal @tisonkun. Here is a relevant mailing list discussion https://lists.apache.org/thread/2xmks3zzkh5cm4ghrqt4ys6zwh4c3gbj.

I think we should update the release process so that it properly follows Apache guidelines, requiring signed tarballs and 3 PMC votes. I also think we should host the `index.yaml` and the tarballs on `https://dist.apache.org/repos/dist/release/pulsar`.

[2022-09-23 02:56] ericsyh commented on #290
It makes sense to maintain the chart release in its own repo.
If possible, I think ASF Infra can consider maintaining a https://github.com/helm/chartmuseum server and all charts under ASF can use this chartmuseum server to release and manage releases.

[2022-09-23 02:58] michaeljmarshall commented on #287
@codelipenghui @wolfstudy @zymap - looks like the Helm Chart script `scripts/pulsar/prepare_helm_release.sh ` depends on `pulsarctl`, and the current one is an old one. We could update the `pulsarctl` dependency so that it works in this scenario, or we could update the chart so that it creates JWT tokens using a kubernetes `Job`. Because the `bin/pulsar` script includes a JWT creation option, I th

[2022-09-23 07:31] yaalsn commented on #290
IMO, serving `index.yaml` in GitHub page makes sense.

1. This file doesn't need to be visited frequently.
2. Even if GitHub turn down, Github Engs will fix it as soon as possible.
3. SN uses the GitHub page to serve the file and it works well.

[2022-10-04 06:58] k3nda commented on #267
Any estimates please? Would be really nice to have update for 2.10.x version :+1:

[2022-10-06 06:44] relief-melone commented on #289
Fix should be straight forward. As workaround you can just disable the policy by

[code]

In the chart as PodDisruptionBudget has been moved out of beta and has been stable since v1.21 the chart should look something like this

[code]

[2022-10-09 04:54] tisonkun commented on #290
I'm going to submit a pull request to this repo. And it still needs a committer to help create the `gh-pages` branch (identical to master is OK for initialization).

[2022-10-13 09:07] majiwhut opened #293 "2.10.0 pulsar helm chart is not published,when will publish?"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-10-13 09:08] eolivelli commented on #293
Good point.

Currently you can use Pulsar 2.10.x with the latest version of helm chart.
The only thing you need it to override the image versions.

[2022-10-13 09:14] majiwhut commented on #293
thank you very much

[2022-10-13 14:28] hpvd opened #294 "[security] helm chart is outdated and includes images with 992 vulnerabilities (623 fixable)"
**Describe the bug**
helm chart is outdated and includes images with 992 vulnerabilities

In detail:
- there are dependencies with well known security issues (with official CVE numbers)
- there is a pretty huge number of known and documented vulnerabilities: 992
-  including important ones (critical, high rating)
-  not only in the accompanying software in helm (prometheus, grafana) but in core di

[2022-10-13 14:29] hpvd commented on #294
overview from link above:
![2022-10-13_14h16_24](https://user-images.githubusercontent.com/5681880/195624955-095c6fc8-062b-4149-b5bf-c2cfb7a54f2e.png)

[2022-10-13 14:29] hpvd commented on #294
more details:
![2022-10-13_14h18_45](https://user-images.githubusercontent.com/5681880/195625079-11db1b5d-b0f3-436b-ae2d-4ee89a5a548c.png)

[2022-10-13 14:32] hpvd commented on #267
please see:
helm chart is outdated and includes images with 992 vulnerabilities
https://github.com/apache/pulsar-helm-chart/issues/294

[2022-10-13 14:35] hpvd commented on #293
just opend an issue for this from security pov:
helm chart is outdated and includes images with 992 vulnerabilities
https://github.com/apache/pulsar-helm-chart/issues/294

[2022-10-13 15:40] MonicaMagoniCom opened #295 "Pulsar-manager connection refused"
Hi all,

I have updated my pulsar cluster from 2.6.1 to 2.10.1 with pulsar-manager version 0.3.0.
I try to login on pulsar-manager with credentials _pulsar/pulsar_ but it fails; from the logs I see:
org.mybatis.spring.MyBatisSystemException: nested exception is org.apache.ibatis.exceptions.PersistenceException:
### Error querying database.  Cause: org.springframework.jdbc.CannotGetJdbcConnectionEx

[2022-10-13 15:45] hpvd commented on #294
would/will be very interesting to see, how an updated helm chart with latest pulsar image perform in the same scan.
=> is the update already the big part of the solution?

[2022-10-13 21:33] michaeljmarshall commented on #294
@hpvd - thank you for creating this issue. I am going to look into how we can get these issues resolved.

[2022-10-13 22:21] michaeljmarshall commented on #290
I'm just seeing your response and PR now. Thanks for working on this @tisonkun.

I think we should get specific permission from the ASF to verify this release process. I am going to figure out how to get a discussion going to move this forward.

My primary concerns are that this flow releases code/binaries that not voted on by the PMC, release artifacts are not signed, and release artifacts are no

[2022-10-13 22:27] michaeljmarshall commented on #290
I found this relevant jira ticket: https://issues.apache.org/jira/browse/LEGAL-573. It shows that the Apache Airflow project is using a formal voting process and is having their binaries hosted on dist.apache.org. Here is one of their release votes: https://lists.apache.org/thread/cfr5q9jccdw1l61yg1qojt1po96cb8c5.

[2022-10-14 00:57] #293 closed

[2022-10-14 01:30] majiwhut commented on #267
How about use the latest pulsar helm chart to adapt pulsar v2.10.0?
I don't known in this way whether make the pulsar not work

[2022-10-14 08:42] hpvd commented on #294
@michaeljmarshall many thanks for starting looking in it that fast
and especially your proposal to make a general approach set the ground to finally solve this (https://github.com/apache/pulsar-helm-chart/pull/299)!

[2022-10-14 08:43] hpvd commented on #294
just as background info, the security scanner used by artifacthub, providing results shown above
is trivy, **so all the finding should be pretty valid**.

For details, see:
https://artifacthub.io/docs/topics/security_report/

and trivy
https://github.com/aquasecurity/trivy)

[2022-10-14 17:52] michaeljmarshall commented on #290
The airflow process is defined here https://github.com/apache/airflow/blob/main/dev/README_RELEASE_HELM_CHART.md. I will take a closer look at it and see if we can learn from their process.

[2022-10-17 19:36] #288 closed

[2022-10-17 23:06] michaeljmarshall commented on #294
Thank you for raising this issue @hpvd, and thank you for the extra context. It is very important to get the helm chart into a better place. Part of the reform is updating the release process, which I started here #301. This will take some extra time in the beginning, but should lead to easier releases in the future.

[2022-10-18 08:00] hpvd commented on #294
@michaeljmarshall

there is also an easy to use **github action for scanning with trivy**
-  the complete repository,
-  pull requests,
- docker container
- IaC
- etc.

=> Maybe this is interesting to integrate this directly into the CI pipeline...
See Readme of https://github.com/aquasecurity/trivy-action

[2022-10-18 19:39] michaeljmarshall commented on #285
@danny-krueger - it's possible that zookeeper does not support reloading certificates for the client facing server. I can see that quorum server allows for reloading cert files, but I don't see the same setting for the client facing server:

https://github.com/apache/zookeeper/blob/b4f9aab099880ba8ef08eaff697debe6cdeae057/zookeeper-server/src/main/java/org/apache/zookeeper/server/quorum/QuorumPeer

[2022-10-18 19:48] michaeljmarshall commented on #285
Looks like my fork was out of date and I was looking at old information. This issue has already been resolved in Apache Zookeeper just earlier this year: https://issues.apache.org/jira/browse/ZOOKEEPER-3806. Here is the relevant [documentation](https://github.com/apache/zookeeper/blob/master/zookeeper-docs/src/main/resources/markdown/zookeeperAdmin.md):

We can keep this issue open for now. Then,

[2022-10-18 20:16] michaeljmarshall commented on #285
The right place to fix this is in our default zk config. I've opened a PR here: https://github.com/apache/pulsar/pull/18097.

[2022-10-19 02:30] michaeljmarshall commented on #267
Fixed by #267. It will be released in the coming week(s). The timeline is dependent on testing and a vote on the dev@pulsar.apache.org mailing list.

[2022-10-19 02:30] #267 closed

[2022-10-19 02:33] michaeljmarshall commented on #289
This will be fixed by #260.

[2022-10-19 02:37] michaeljmarshall commented on #294
We could definitely investigate using that tool. For now, I am focused on getting the relevant dependencies upgrade and fixing the release process.

[2022-10-19 02:39] michaeljmarshall commented on #283
@MonicaMagoniCom - it could be taken from the `values.yaml`, yes. Would you like to contribute an enhancement to make it configurable? Thanks!

[2022-10-19 02:41] michaeljmarshall commented on #275
Great suggestion @mohitreddy1996. Are you interested in contributing it? Thanks!

[2022-10-19 02:44] michaeljmarshall commented on #265
The chart's `version` does not need to align with the version of Apache Pulsar that ships with it by default. That is the purpose of the `appVersion` field in the `Chart.yaml` see here https://github.com/apache/pulsar-helm-chart/blob/master/charts/pulsar/Chart.yaml.

The primary reason we have diverged is that it is helpful to decouple helm chart and Apache Pulsar releases so that helm chart featu

[2022-10-19 02:46] michaeljmarshall commented on #256
@jaggerwang - are you seeing an error in the Pulsar Manager's logs?

[2022-10-19 02:47] michaeljmarshall commented on #252
Fixed by #233

[2022-10-19 02:47] #252 closed

[2022-10-19 02:50] #226 closed

[2022-10-19 02:51] michaeljmarshall commented on #228
@czhfe - what is the error you're observing?

[2022-10-19 02:53] #256 closed

[2022-10-19 02:53] michaeljmarshall commented on #185
Thanks for your proposal @frankjkelly. Since we are updating the helm chart's release process, as proposed here #301, I am going to close this issue.

[2022-10-19 02:53] #185 closed

[2022-10-19 03:06] tianshimoyi opened #309 "When I set metadataPrefix my cluster doesn't start properly"
**Describe the bug**
When I set metadataPrefix my cluster doesn't start properly. When I cancel this value, the cluster can start.

**To Reproduce**
thi is my value.yaml
[code]
it will consistently get stuck here

![截屏2022-10-19 上午11 05 43](https://user-images.githubusercontent.com/68532999/196587834-b9e8e570-5dab-45a8-9bcf-82c8e63bc765.png)

[2022-10-19 03:06] michaeljmarshall commented on #188
Fixed by #255

[2022-10-19 03:06] #188 closed

[2022-10-19 03:12] michaeljmarshall commented on #309
@tianshimoyi - it'd be helpful to see your logs for the `pulsar-bookie-init` and `pulsar-pulsar-init` jobs. Those are `Running` and they have to complete before the other pulsar components can start.

[2022-10-19 03:15] tianshimoyi commented on #309
2022-10-19T03:13:39,551+0000 [main] INFO  org.apache.zookeeper.ZooKeeper - Client environment:zookeeper.version=3.6.3--6401e4ad2087061bc6b9f80dec2d69f2e3c8660a, built on 04/08/2021 16:35 GMT
2022-10-19T03:13:39,555+0000 [main] INFO  org.apache.zookeeper.ZooKeeper - Client environment:host.name=pulsar-bookie-init-6b4vw
2022-10-19T03:13:39,555+0000 [main] INFO  org.apache.zookeeper.ZooKeeper - Clien

[2022-10-19 03:29] tianshimoyi commented on #309
@michaeljmarshall looks like this error

2022-10-19T03:11:20,988+0000 [main-SendThread(pulsar-zookeeper:2181)] INFO org.apache.zookeeper.ClientCnxn - SASL config status: Will not attempt to authenticate using SASL (unknown error)
2022-10-19T03:11:22,522+0000 [main-SendThread(pulsar-zookeeper:2181)] INFO org.apache.zookeeper.ClientCnxn - SASL config status: Will not attempt to authenticate using SA

[2022-10-19 03:36] michaeljmarshall commented on #309
I've seen that log many times without an issue. Here is one relevant point of divergence for the helm chart when `metadataPrefix` is enabled:

https://github.com/apache/pulsar-helm-chart/blob/58cd43fe8b11f04682ed2111293f6bf9a2fcc899/charts/pulsar/templates/bookkeeper-cluster-initialize.yaml#L72-L75

[2022-10-19 03:48] michaeljmarshall commented on #290
I do agree that it is risky. My preference is to host the `index.yaml` ourselves, but we could also start a discussion on the mailing list to see if others are opinionated.

[2022-10-19 03:52] #289 closed

[2022-10-19 05:47] tianshimoyi commented on #309
@michaeljmarshall From the results, this step is executed incorrectly
[code]
![截屏2022-10-19 下午1 44 52](https://user-images.githubusercontent.com/68532999/196607145-1366f69b-9ee8-4460-819d-96a8cc6dc380.png)

[2022-10-19 05:51] tianshimoyi commented on #309
@michaeljmarshall could this be the reason？
![截屏2022-10-19 下午1 50 00](https://user-images.githubusercontent.com/68532999/196607833-dd60090c-1247-4e4a-b25c-133f14378075.png)

[2022-10-19 05:56] tianshimoyi commented on #309
![截屏2022-10-19 下午1 56 16](https://user-images.githubusercontent.com/68532999/196608516-12d4914e-32c4-4ffc-a96e-4f640e1844eb.png)

[2022-10-19 08:56] #285 closed

[2022-10-19 09:03] tianshimoyi commented on #309
@michaeljmarshall I made the following modification and it worked, but I don't know why, hope to get your explanation, thanks a lot!

[code]

[2022-10-19 10:10] tianshimoyi commented on #309
@michaeljmarshall I replaced 'created for pulsar cluster "{{ template "pulsar.cluster.name" . }}"' with a string without spaces and it worked
bin/bookkeeper org.apache.zookeeper.ZooKeeperMain -server {{ template "pulsar.fullname" . }}-{{ .Values.zookeeper.component }} create {{ .Values.metadataPrefix }} “test-aaa”

[2022-10-19 14:06] tianshimoyi commented on #309
@michaeljmarshall I replaced 'created for pulsar cluster "{{ template "pulsar.cluster.name" . }}"' with a string without spaces and it worked
bin/bookkeeper org.apache.zookeeper.ZooKeeperMain -server {{ template "pulsar.fullname" . }}-{{ .Values.zookeeper.component }} create {{ .Values.metadataPrefix }}

[2022-10-19 15:23] #65 closed

[2022-10-19 15:23] #278 closed

[2022-10-19 15:33] MonicaMagoniCom commented on #295
Yes it is running but I have authentication and authorization enabled on the cluster. I see that by setting the following values:
JWT_TOKEN:<token>
SECRET_KEY: data:base64,<secret key>
pulsar manager receives 401 http code from the brokers when it tries to ask for tenants/namespaces/etc.

Also, from pulsar manager logs, the jwt token is not used in the header of the request towards the broker.

[2022-10-19 20:25] michaeljmarshall opened #311 "Flaky TLS Tests"
**Describe the bug**
`Pulsar Helm Chart (ZK & BK TLS Only) / lint-test (pull_request)` and `Precommit - Pulsar Helm Chart (ZK TLS Only) / lint-test (pull_request)` fail frequently. The errors are often different.

**Examples**
https://github.com/apache/pulsar-helm-chart/actions/runs/3280376295/attempts/3

In that example, I can see this error in the GitHub workflow logs:
[code]

The error indicate

[2022-10-19 21:00] michaeljmarshall commented on #311
Here is another failure:
https://github.com/apache/pulsar-helm-chart/actions/runs/3280376295/jobs/5410958061

[code]

This failure is surprising given that the zk pod is described as `pod/pulsar-ci-zookeeper-0         1/1     Running    0          26m`. The ZK logs indicate a number expired sessions. Here is a copy of some o the logs:

[code]

[2022-10-19 22:02] michaeljmarshall commented on #311
Just discovered that one of the errors in the bookie-init job are expected:

[code]

[2022-10-20 04:45] michaeljmarshall commented on #295
Is there any configuration that works? I wouldn't have thought authn/authz would affect this error since the specific error log is a failure related to the JDBC connection, which is not a Pulsar connection. That has to do with connecting to an internal Postgres database running in the Pulsar Manager. I am not familiar with the internals of that project, though.

[2022-10-20 05:54] eolivelli commented on #295
It would be also interesting to default to storing the data on HerdDB, that in turn stored the data on the bookies. This will save us to run PostGree

[2022-10-20 15:39] michaeljmarshall commented on #285
@danny-krueger - thanks for highlighting a work around. Apache Zookeeper hasn't released 3.8.1 or 3.9.0, so the complete feature won't be available until ZK gets released and Pulsar upgrades to use that ZK version.

[2022-10-20 18:36] michaeljmarshall commented on #309
Reopening this as I think this is likely a bug we'll want to fix in the bookkeeper init template.

[2022-10-20 20:24] #309 closed

[2022-10-21 01:32] michaeljmarshall opened #320 "Add license header check to CI"
**Describe the solution you'd like**
Add a step to the GitHub actions that verifies new PRs do not introduce new files without license headers. Also, verify that the current license headers are correct.

[2022-10-21 02:15] #257 closed

[2022-10-21 05:19] michaeljmarshall opened #323 "Document how to configure (A)Symmetric JWT Tokens and TLS in Helm Chart"
**Is your feature request related to a problem? Please describe.**
The current helm chart has secrets that are expected to be pre-populated in order to make certain features work.

**Describe the solution you'd like**
All features should be documented somewhere so that users do not need to read the source templates to determine what is expected.

[2022-10-21 05:23] #287 closed

[2022-10-21 05:32] michaeljmarshall opened #325 "Improve Release Process by Adding Scripts"
**Is your feature request related to a problem? Please describe.**
The release process is pretty manual.

**Describe the solution you'd like**
We can automate it more by using scripts.

**Describe alternatives you've considered**
We could leave it as manual, but that seems unnecessary.

[2022-10-21 05:38] tisonkun commented on #290
@michaeljmarshall I've updated the title and gonna close it once we don't have a dependency on the existence of the very file ([content/charts/index.yaml](https://github.com/apache/pulsar-site/blob/asf-site-next/content/charts/index.yaml)) - redirection is OK.

[2022-10-21 05:59] michaeljmarshall opened #326 "Release 3.0.0 using Apache Pulsar 2.10.2"
This issue will track the progress of the 3.0.0 release.

[2022-10-21 06:00] michaeljmarshall commented on #326
Tag 3.0.0-candidate-1 is out for vote. Here is the mailing list thread: https://lists.apache.org/thread/b02r3605jvmom23p1ccjbzsfwrq5tkjv.

[2022-10-21 06:02] michaeljmarshall commented on #290
Thanks @tisonkun! That sounds great.

[2022-10-21 06:27] hpvd commented on #326
wow this was really fast work!!

[2022-10-21 06:45] hpvd commented on #326
just an idea:
with having a good overview of this repository in mind from all the done work,
maybe it's a good moment to look quickly through the list of open issues and pull requests, if there aren't some which
- were already solved or
- become unnecessary or
- are obsolete
and could simply be closed **without further investigations/work**.

-> With this, 3.0 would even have a fresher start :-)

[2022-10-21 08:48] MarkusNeuron opened #327 "Kubernetes compliant token secret names as volume mounts"
**Is your feature request related to a problem? Please describe.**
At the moment the charts render the token secret volume directly derived from .Values.auth.superUsers.x for the [broker](https://github.com/apache/pulsar-helm-chart/blob/816d88c942e5f1d13e1f11d67708dd16aa02c388/charts/pulsar/templates/broker-statefulset.yaml#L280), the [proxy-](https://github.com/apache/pulsar-helm-chart/blob/816d8

[2022-10-21 09:49] MonicaMagoniCom commented on #295
They are two different errors, sorry. The first one is the one I got with pulsar-manager version 0.3.0, while the second related to JWT token happens with 0.2.0 version. It seems that version 0.3.0 has some problems at the login page already.

[2022-10-25 12:02] hpvd opened #328 "readme missing in helm chart"
**Is your feature request related to a problem? Please describe.**
the helm chart seems not to include a readme (file/url)
quick check:
artifacthub.io shows readmes if available:

pulsar: no readme
https://artifacthub.io/packages/helm/apache/pulsar

example with included readme:
kube prometheus stack
[kube-prometheus-stack](https://artifacthub.io/packages/helm/prometheus-community/kube-prometheus-

[2022-10-25 12:07] hpvd commented on #326
would be nice to put a README into the helm chart, see https://github.com/apache/pulsar-helm-chart/issues/328

[2022-10-25 12:21] hpvd opened #329 "no changelog in helm chart included"
**Is your feature request related to a problem? Please describe.**

the helm chart seems not to include a CHANGELOG note

quick check:
artifacthub.io shows CHANGELOG if available:

pulsar: no CHANGELOG
https://artifacthub.io/packages/helm/apache/pulsar

example with included CHANGELOG
Apache Airflow
https://artifacthub.io/packages/helm/apache-airflow/airflow?modal=changelog

**Describe the solutio

[2022-10-25 12:23] hpvd commented on #326
would be a bonus to even include the changelog (since it's a major version bump, it may be even more interesting/ important)
https://github.com/apache/pulsar-helm-chart/issues/329

[2022-10-26 13:13] exipnus opened #330 "How to get values?"
**Describe the bug**
[code]
fails with message:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. helm get values pulsar-2.9.4 > pulsar.yaml

**Expected behavior**
Expected pulsar.yaml with default chart values to be created

**Screenshots**
![image](https://user-images.githubusercontent.com/85255193/198034509-f811c23f-dfbd-4aea-9943-ae1562d69f91.png)

**Desktop (please complete the fo

[2022-10-26 13:24] #330 closed, assigned to nobody

[2022-10-26 15:51] michaeljmarshall commented on #330
The `helm get values` command does not provide the default values. It gets the values for a "named release", which means an already installed instance of the helm chart.

[2022-10-26 15:53] michaeljmarshall commented on #329
@hpvd - thanks for creating this issue. I noticed that the Apache Airflow Helm Chart has this feature. For this first iteration of improving our release process, I did not include this process. We can definitely add a changelog. We just need someone to volunteer to contribute it.

[2022-10-26 16:34] michaeljmarshall commented on #326
Those are great suggestions @hpvd. I started to look into those, but I prioritized getting a release out. Thank you for creating those issues.

I took a look at open issues and PRs last week and tried to merge the ones that seemed important. If there is anything missing, we can get it for the next release. These releases shouldn't be too hard to complete once we have a finalized process.

[2022-10-27 13:24] hpvd commented on #326
+1 for setting the right prio!

[2022-10-28 05:53] michaeljmarshall opened #331 "Helm upgrade errors imply broker is not shutdown gracefully"
**Describe the bug**
I observed https://github.com/apache/pulsar/issues/18236 when doing a helm upgrade while testing out 3.0.0-candidate-1 for #326.

**To Reproduce**
My steps are listed in https://github.com/apache/pulsar/issues/18236. The only difference is that instead of restarting the broker forcefully, I ran `helm install test -f pulsar-chart-3.0.0/examples/values-minikube.yaml --version 2.

[2022-10-28 05:54] michaeljmarshall commented on #331
Now that I think about it a bit more, perhaps the upgrade happened in such a way that the broker was restarted while the zookeeper was unavailable. I'll need to re-run the upgrade and capture the broker logs as it was shutting down.

[2022-10-28 19:09] michaeljmarshall commented on #331
I confirmed today that the shutdown is not forceful/ungraceful.

It looks like the helm chart does not do any kind of ordering when upgrading components. When a single broker and zookeeper are deployed, that means there will be downtime. In the event that multiple zookeepers are deployed, the rollout strategy will be used and it is less likely we'd see these errors.

Closing this issue since helm

[2022-10-28 19:09] #331 closed

[2022-10-29 04:23] zengzhengrong opened #333 "Support ingressClassName setting"
###
annotations is not recommended
[code]

Use ```ingressClassName```

[code]

[2022-10-29 04:26] zengzhengrong commented on #295
#https://github.com/apache/pulsar-manager/pull/478

Use tag v0.2.0

[2022-11-03 20:52] michaeljmarshall commented on #326
The vote is completed: https://lists.apache.org/thread/7605rrsvgbkyll3xk00ft9jofo839g5k. I will work on publishing the release artifacts and then I'll announce the release.

[2022-11-04 04:07] michaeljmarshall commented on #326
This release is now available.

[2022-11-04 04:07] #326 closed

[2022-11-04 04:10] michaeljmarshall commented on #290
@tisonkun - I think we might need to figure out a different way to maintain the `index.yaml`. @dave2wave mentioned that artifacts at `dist.a.o` need to be signed, and given that the file would keep moving, I'm not sure how we would make it work correctly. In order to not block the 3.0.0 release, I went ahead and added the `index.yaml` to the `main` branch in `pulsar-site` so that it'll be slightly

[2022-11-04 04:27] michaeljmarshall commented on #328
Here is documentation on adding the README to the distribution: https://artifacthub.io/docs/topics/annotations/helm/. We just need to put it in `charts/pulsar/`.

[2022-11-04 04:28] michaeljmarshall commented on #329
Looks like we can help get this done with https://artifacthub.io/docs/topics/annotations/helm/.

[2022-11-04 04:28] michaeljmarshall commented on #333
Thanks for your issue @zengzhengrong. Are you interesting in contributing this improvement?

[2022-11-04 09:37] hpvd commented on #294
wow just saw the latest release 3.0.0!
What a great progress :-)

just did the same quick security check up again:

Latest security analysis show
- a stunning step in reducing the number of included vulnerabilities (minus 85%!)
  - v2.9.4 with pulsar 2.9.3 **1024 vulnerabilities (698 fixable) have been detected in this package's images.**
https://artifacthub.io/packages/helm/apache/pulsar/2.9.4?mo

[2022-11-04 15:33] hpvd opened #334 "[security] further reduction of the 136 vulnerabilities (79 fixable) in helm chart v3.0.0"
This is the follow-up issue to https://github.com/apache/pulsar-helm-chart/issues/294

we did a huge step forward in the field of security with the release of helm chart v3.0.0
(for details see summary in https://github.com/apache/pulsar-helm-chart/issues/294#issuecomment-1303176871)

When looking into the latest version, there are still
**136 vulnerabilities (79 fixable) have been detected in thi

[2022-11-04 15:40] hpvd commented on #294
follow-up issue: https://github.com/apache/pulsar-helm-chart/issues/334

[2022-11-04 16:09] hpvd commented on #334
Details for Part (1):

![2022-11-04_17h06_11](https://user-images.githubusercontent.com/5681880/200023011-23e1244c-fdcc-4d6f-8562-947965b135b4.png)

![2022-11-04_17h03_17](https://user-images.githubusercontent.com/5681880/200023069-43303c65-e7f5-454e-be09-c283a0170a42.png)

[2022-11-04 16:11] hpvd commented on #334
Details for Part (2):
latest versions of tools included in helm chart

- https://github.com/grafana/grafana/releases 9.2.3 (2022-10-31)
- https://github.com/kiwigrid/k8s-sidecar/releases v1.19.5 (2022-09-15)
- https://github.com/prometheus/prometheus/releases 2.39.1 (2022-10-07)
- https://github.com/prometheus/node_exporter/releases 1.4.0 (2022-09-24)
- https://github.com/prometheus-operator/prome

[2022-11-04 16:36] hpvd commented on #334
just openend an issues for Part (1): https://github.com/apache/pulsar/issues/18348

so this is mostly about Part (2)

[2022-11-04 20:34] michaeljmarshall commented on #294
Since we have a follow up issue, can we close this one @hpvd?

[2022-11-04 20:36] hpvd commented on #294
@michaeljmarshall
Yes I think that's good move!

[2022-11-04 20:37] #294 closed

[2022-11-08 09:33] tisonkun commented on #290
@michaeljmarshall Thanks for your update. I noticed https://github.com/apache/pulsar-site/commit/460ae87cb24723757e768a77388c15726ed2ecf9 days ago. As long as the release process writes to update the file in the main branch instead of the deploy branch, I'm OK that it's enough to prevent accidental removal.

Closed as done.

[2022-11-08 09:33] #290 closed

[2022-11-13 11:33] jesumyip commented on #110
Hi. I am using 2.10.2 and still getting this error. Was it fixed?

I installed Pulsar using the helm chart and I have set in `values.yaml`:
1. `tls.enabled` is false
2. `certs.internal_issuer.enabled` is false

I was planning to let Istio perform TLS offloading.

[2022-11-16 17:24] briedel opened #335 "Proxy fails to connect to port 80"
When using the helm chart on GKE, the proxy is unable to connect to port 80, which crashes the proxy pod and begins a restart loop. The logs how this

[code]

I have tried setting the tag to `2.10.2`

[code]

when starting the container proxy with port 8080, everything works:

[code]

the logs are

[code]

I think the issue is that 2.10.2 runs as a non-root container and can therefore not bind to

[2022-11-25 01:04] johndlang opened #337 "nil pointer evaluating interface {}.bookkeeper"
**Describe the bug**
When tying to install v3.0.0 I get a error when defining values for bookkeeper

**To Reproduce**
Steps to reproduce the behavior:
helm install pulsar-dev -f values/pulsar_values_dev.yaml apache/pulsar --version v3.0.0

with values.yaml: >

bookkeeper:
  configData:
    PULSAR_MEM: |
      -Xms512m -Xmx1g -XX:MaxDirectMemorySize=2g
  replicaCount: 3
  resources:
    requests:

[2022-11-28 16:15] MarvinCai commented on #337
this is a bug, inside `{{ range }}`, the scope is already changed so .Values is no longer available, but seems it's already fixed in mainline, so can probably try that out.
[code]

[2022-11-28 21:04] michaeljmarshall commented on #337
Is this an issue with https://github.com/apache/pulsar-helm-chart/pull/286?

[2022-11-29 14:03] MarvinCai commented on #335
we might jusst change the default proxy port to 8080 in value.yaml, are you interested in making a patch for it?

[2022-11-29 16:57] michaeljmarshall commented on #335
I quickly looked, and I think the default configuration is a bug and should be updated. We'll want to make sure that the service still points to the correct port.

[2022-11-29 22:53] Apurva007 opened #338 "Prepare Helm Release fails on Mac M1"
Prepare helm release script currently fails for Mac M1s with the error: tar: Error opening archive: Unrecognized archive format
The reason this fails is because common_auth script still points to version 0.4.0 version of pulsarctl that does not support ARM64 which does not download anything in the pulsarctl tar.gz.
Therefore, it needs to be updated.

**To Reproduce**
Steps to reproduce the behavio